In [4]:
import os
import glob
import re

import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
# 데이터 불러오기 & 데이터 프레임에 담기 
def dataFrame(addr):
    data = pd.read_table(addr)
    df = pd.DataFrame(data)
    df.drop(df.index[[0,1]], inplace=True)
    df.drop(['전체인구.1', '전체인구.2'], axis=1, inplace=True)
    df.columns=['period', 'gu', 'dong', 'pop','olds','male_olds','female_olds']
    df = df[df.dong != '소계']
    df.reset_index(drop = True, inplace=True)
    
    df["pop"] = df["pop"].replace(',', '', regex=True)
    df["olds"] = df["olds"].replace(',', '', regex=True)
    df["male_olds"] = df["male_olds"].replace(',', '', regex=True)
    df["female_olds"] = df["female_olds"].replace(',', '', regex=True)
    
    df_1 = df.astype({'pop':int, 'olds':int, 'male_olds':int, 'female_olds':int})
    df_1["proportion"] = (df_1["olds"]/df_1["pop"])*100
    df_1["proportion"] = df_1["proportion"].round(2)
    
    return df_1

In [7]:
# 2010년 데이터 가공하기
addr = "data/population/서울시 고령자현황 (동별) 통계 (2010_1).txt"
df_total = dataFrame(addr)
df_total

       period   gu  dong       pop    olds  male_olds  female_olds  proportion
0    2010.1/4   합계    합계  10464171  949680     408178       541502        9.08
1    2010.1/4  종로구   사직동     10433    1392        596          796       13.34
2    2010.1/4  종로구   삼청동      3689     557        236          321       15.10
3    2010.1/4  종로구   부암동     11566    1456        677          779       12.59
4    2010.1/4  종로구   평창동     19713    2346       1000         1346       11.90
..        ...  ...   ...       ...     ...        ...          ...         ...
420  2010.1/4  강동구  둔촌1동     20851    1045        380          665        5.01
421  2010.1/4  강동구  둔촌2동     28261    2142        851         1291        7.58
422  2010.1/4  강동구  암사1동     39990    3218       1392         1826        8.05
423  2010.1/4  강동구  천호2동     39169    3457       1511         1946        8.83
424  2010.1/4  강동구    길동     51880    3810       1641         2169        7.34

[425 rows x 8 columns]

In [8]:
for i in range(2,5):
    addr = "data/population/서울시 고령자현황 (동별) 통계 (2010_"+str(i)+").txt"
    DF = dataFrame(addr)
    df_total = pd.concat([df_total, DF], axis=0)
    

df_total

       period   gu  dong       pop    olds  male_olds  female_olds  proportion
0    2010.1/4   합계    합계  10464171  949680     408178       541502        9.08
1    2010.1/4  종로구   사직동     10433    1392        596          796       13.34
2    2010.1/4  종로구   삼청동      3689     557        236          321       15.10
3    2010.1/4  종로구   부암동     11566    1456        677          779       12.59
4    2010.1/4  종로구   평창동     19713    2346       1000         1346       11.90
..        ...  ...   ...       ...     ...        ...          ...         ...
420  2010.4/4  강동구  둔촌1동     20759    1107        408          699        5.33
421  2010.4/4  강동구  둔촌2동     30132    2399        983         1416        7.96
422  2010.4/4  강동구  암사1동     40183    3387       1469         1918        8.43
423  2010.4/4  강동구  천호2동     39458    3713       1646         2067        9.41
424  2010.4/4  강동구    길동     52655    4080       1782         2298        7.75

[1700 rows x 8 columns]

In [6]:
# 데이터 타입 확인
type(df_total)

pandas.core.frame.DataFrame

In [22]:
# 2011년 이후 데이터 불러오기 - 2011~2019 데이터 concat

df_1119 = pd.DataFrame()

for j in range(2011, 2020):
    df_tmp = pd.DataFrame()
    
    for k in range(1,5):        
        addr = "data/population/서울시 고령자현황 (동별) 통계 ("+str(j)+"_"+str(k)+").txt"     
        data = pd.read_table(addr)
        df= pd.DataFrame(data)
        
        df_tmp = pd.concat([df_tmp, df])
        print(addr)
     
    print("-----")
    df_1119 = pd.concat([df_1119, df_tmp], axis = 0, sort=False)

data/population/서울시 고령자현황 (동별) 통계 (2011_1).txt
data/population/서울시 고령자현황 (동별) 통계 (2011_2).txt
data/population/서울시 고령자현황 (동별) 통계 (2011_3).txt
data/population/서울시 고령자현황 (동별) 통계 (2011_4).txt
-----
data/population/서울시 고령자현황 (동별) 통계 (2012_1).txt
data/population/서울시 고령자현황 (동별) 통계 (2012_2).txt
data/population/서울시 고령자현황 (동별) 통계 (2012_3).txt
data/population/서울시 고령자현황 (동별) 통계 (2012_4).txt
-----
data/population/서울시 고령자현황 (동별) 통계 (2013_1).txt
data/population/서울시 고령자현황 (동별) 통계 (2013_2).txt
data/population/서울시 고령자현황 (동별) 통계 (2013_3).txt
data/population/서울시 고령자현황 (동별) 통계 (2013_4).txt
-----
data/population/서울시 고령자현황 (동별) 통계 (2014_1).txt
data/population/서울시 고령자현황 (동별) 통계 (2014_2).txt
data/population/서울시 고령자현황 (동별) 통계 (2014_3).txt
data/population/서울시 고령자현황 (동별) 통계 (2014_4).txt
-----
data/population/서울시 고령자현황 (동별) 통계 (2015_1).txt
data/population/서울시 고령자현황 (동별) 통계 (2015_2).txt
data/population/서울시 고령자현황 (동별) 통계 (2015_3).txt
data/population/서울시 고령자현황 (동별) 통계 (2015_4).txt
-----
data/population/서울시 고령자현황 (동별) 통계 (2016_1).txt
data/population/서울시 고령자현황 (동별) 통계 (2016_2).txt
data/population/서울시 고령자현황 (동별) 통계 (2016_3).txt
data/population/서울시 고령자현황 (동별) 통계 (2016_4).txt
-----
data/population/서울시 고령자현황 (동별) 통계 (2017_1).txt
data/population/서울시 고령자현황 (동별) 통계 (2017_2).txt
data/population/서울시 고령자현황 (동별) 통계 (2017_3).txt
data/population/서울시 고령자현황 (동별) 통계 (2017_4).txt
-----
data/population/서울시 고령자현황 (동별) 통계 (2018_1).txt
data/population/서울시 고령자현황 (동별) 통계 (2018_2).txt
data/population/서울시 고령자현황 (동별) 통계 (2018_3).txt
data/population/서울시 고령자현황 (동별) 통계 (2018_4).txt
-----
data/population/서울시 고령자현황 (동별) 통계 (2019_1).txt
data/population/서울시 고령자현황 (동별) 통계 (2019_2).txt
data/population/서울시 고령자현황 (동별) 통계 (2019_3).txt
data/population/서울시 고령자현황 (동별) 통계 (2019_4).txt
-----

In [33]:
df_tmp

,기간,자치구,동,전체인구,전체인구.1,전체인구.2,65세이상 인구,65세이상 인구.1,65세이상 인구.2,65세이상 인구.3,65세이상 인구.4,65세이상 인구.5,65세이상 인구.6,65세이상 인구.7,65세이상 인구.8
0,기간,자치구,동,전체인구,전체인구,전체인구,합계,합계,합계,내국인,내국인,내국인,외국인,외국인,외국인
1,기간,자치구,동,계,남자,여자,계,남자,여자,계,남자,여자,계,남자,여자
2,2019.1/4,합계,합계,"10,054,979","4,909,387","5,145,592","1,436,125","634,125","802,000","1,429,163","630,451","798,712","6,962","3,674","3,288"
3,2019.1/4,종로구,소계,"162,913","78,963","83,950","26,981","11,922","15,059","26,776","11,805","14,971",205,117,88
4,2019.1/4,종로구,사직동,"9,782","4,432","5,350","1,770",752,"1,018","1,761",747,"1,014",9,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,2019.4/4,강동구,둔촌1동,283,134,149,94,35,59,93,34,59,1,1,-
448,2019.4/4,강동구,둔촌2동,"27,752","13,701","14,051","4,010","1,877","2,133","4,009","1,876","2,133",1,1,-
449,2019.4/4,강동구,암사1동,"36,693","18,145","18,548","5,623","2,472","3,151","5,609","2,466","3,143",14,6,8
450,2019.4/4,강동구,천호2동,"35,904","17,865","18,039","5,692","2,581","3,111","5,672","2,571","3,101",20,10,10
451,2019.4/4,강동구,길동,"46,367","22,687","23,680","7,125","3,251","3,874","7,120","3,250","3,870",5,1,4

In [23]:
# 11년 ~ 19년 데이터 확인
df_1119

,기간,자치구,동,전체인구,전체인구.1,전체인구.2,65세이상 인구,65세이상 인구.1,65세이상 인구.2,65세이상 인구.3,65세이상 인구.4,65세이상 인구.5,65세이상 인구.6,65세이상 인구.7,65세이상 인구.8
0,기간,자치구,동,전체인구,전체인구,전체인구,합계,합계,합계,내국인,내국인,내국인,등록외국인,등록외국인,등록외국인
1,기간,자치구,동,계,남자,여자,계,남자,여자,계,남자,여자,계,남자,여자
2,2011.1/4,합계,합계,"10,581,728","5,238,674","5,343,054","1,018,534","440,762","577,772","1,013,180","438,147","575,033","5,354","2,615","2,739"
3,2011.1/4,종로구,소계,"179,068","89,119","89,949","22,595","9,846","12,749","22,434","9,767","12,667",161,79,82
4,2011.1/4,종로구,사직동,"10,622","5,012","5,610","1,549",660,889,"1,539",655,884,10,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,2019.4/4,강동구,둔촌1동,283,134,149,94,35,59,93,34,59,1,1,-
448,2019.4/4,강동구,둔촌2동,"27,752","13,701","14,051","4,010","1,877","2,133","4,009","1,876","2,133",1,1,-
449,2019.4/4,강동구,암사1동,"36,693","18,145","18,548","5,623","2,472","3,151","5,609","2,466","3,143",14,6,8
450,2019.4/4,강동구,천호2동,"35,904","17,865","18,039","5,692","2,581","3,111","5,672","2,571","3,101",20,10,10
451,2019.4/4,강동구,길동,"46,367","22,687","23,680","7,125","3,251","3,874","7,120","3,250","3,870",5,1,4

In [24]:
# 데이터 확인2
df_1119["기간"].unique()

array(['기간', '2011.1/4', '2011.2/4', '2011.3/4', '2011.4/4', '2012.1/4',
       '2012.2/4', '2012.3/4', '2012.4/4', '2013.1/4', '2013.2/4',
       '2013.3/4', '2013.4/4', '2014.1/4', '2014.2/4', '2014.3/4',
       '2014.4/4', '2015.1/4', '2015.2/4', '2015.3/4', '2015.4/4',
       '2016.1/4', '2016.2/4', '2016.3/4', '2016.4/4', '2017.1/4',
       '2017.2/4', '2017.3/4', '2017.4/4', '2018.1/4', '2018.2/4',
       '2018.3/4', '2018.4/4', '2019.1/4', '2019.2/4', '2019.3/4',
       '2019.4/4'], dtype=object)

In [25]:
# 2020 1분기 데이터 불러오기

df_20 = pd.DataFrame(pd.read_table("data/population/서울시 고령자현황 (동별) 통계 (2020_1).txt"))
df_20

,기간,자치구,동,전체인구,전체인구.1,전체인구.2,65세이상 인구,65세이상 인구.1,65세이상 인구.2,65세이상 인구.3,65세이상 인구.4,65세이상 인구.5,65세이상 인구.6,65세이상 인구.7,65세이상 인구.8
0,기간,자치구,동,전체인구,전체인구,전체인구,합계,합계,합계,내국인,내국인,내국인,외국인,외국인,외국인
1,기간,자치구,동,계,남자,여자,계,남자,여자,계,남자,여자,계,남자,여자
2,2020.1/4,합계,합계,"10,013,781","4,874,995","5,138,786","1,518,239","671,095","847,144","1,510,460","667,011","843,449","7,779","4,084","3,695"
3,2020.1/4,종로구,소계,"161,984","78,271","83,713","28,073","12,459","15,614","27,855","12,335","15,520",218,124,94
4,2020.1/4,종로구,사직동,"9,841","4,469","5,372","1,818",775,"1,043","1,805",768,"1,037",13,7,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448,2020.1/4,강동구,둔촌1동,279,132,147,95,35,60,94,34,60,1,1,-
449,2020.1/4,강동구,둔촌2동,"27,520","13,611","13,909","4,123","1,917","2,206","4,118","1,916","2,202",5,1,4
450,2020.1/4,강동구,암사1동,"36,492","18,011","18,481","5,751","2,509","3,242","5,738","2,504","3,234",13,5,8
451,2020.1/4,강동구,천호2동,"35,714","17,759","17,955","5,815","2,628","3,187","5,792","2,617","3,175",23,11,12
452,2020.1/4,강동구,길동,"46,063","22,496","23,567","7,289","3,323","3,966","7,284","3,322","3,962",5,1,4

In [26]:
# 2011~2020 합치기
df_1120 = pd.concat([df_1119, df_20], axis=0)
df_1120

,기간,자치구,동,전체인구,전체인구.1,전체인구.2,65세이상 인구,65세이상 인구.1,65세이상 인구.2,65세이상 인구.3,65세이상 인구.4,65세이상 인구.5,65세이상 인구.6,65세이상 인구.7,65세이상 인구.8
0,기간,자치구,동,전체인구,전체인구,전체인구,합계,합계,합계,내국인,내국인,내국인,등록외국인,등록외국인,등록외국인
1,기간,자치구,동,계,남자,여자,계,남자,여자,계,남자,여자,계,남자,여자
2,2011.1/4,합계,합계,"10,581,728","5,238,674","5,343,054","1,018,534","440,762","577,772","1,013,180","438,147","575,033","5,354","2,615","2,739"
3,2011.1/4,종로구,소계,"179,068","89,119","89,949","22,595","9,846","12,749","22,434","9,767","12,667",161,79,82
4,2011.1/4,종로구,사직동,"10,622","5,012","5,610","1,549",660,889,"1,539",655,884,10,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448,2020.1/4,강동구,둔촌1동,279,132,147,95,35,60,94,34,60,1,1,-
449,2020.1/4,강동구,둔촌2동,"27,520","13,611","13,909","4,123","1,917","2,206","4,118","1,916","2,202",5,1,4
450,2020.1/4,강동구,암사1동,"36,492","18,011","18,481","5,751","2,509","3,242","5,738","2,504","3,234",13,5,8
451,2020.1/4,강동구,천호2동,"35,714","17,759","17,955","5,815","2,628","3,187","5,792","2,617","3,175",23,11,12
452,2020.1/4,강동구,길동,"46,063","22,496","23,567","7,289","3,323","3,966","7,284","3,322","3,962",5,1,4

In [28]:
df_1120["기간"].unique()

array(['기간', '2011.1/4', '2011.2/4', '2011.3/4', '2011.4/4', '2012.1/4',
       '2012.2/4', '2012.3/4', '2012.4/4', '2013.1/4', '2013.2/4',
       '2013.3/4', '2013.4/4', '2014.1/4', '2014.2/4', '2014.3/4',
       '2014.4/4', '2015.1/4', '2015.2/4', '2015.3/4', '2015.4/4',
       '2016.1/4', '2016.2/4', '2016.3/4', '2016.4/4', '2017.1/4',
       '2017.2/4', '2017.3/4', '2017.4/4', '2018.1/4', '2018.2/4',
       '2018.3/4', '2018.4/4', '2019.1/4', '2019.2/4', '2019.3/4',
       '2019.4/4', '2020.1/4'], dtype=object)

In [29]:
# 필요없는 컬럼 삭제
# 전체인구 1, 전체인구 2, 65세이상 인구 3,4,5,6,7,8
df_1120.drop(['전체인구.1', '전체인구.2', '65세이상 인구.3','65세이상 인구.4',
              '65세이상 인구.5','65세이상 인구.6','65세이상 인구.7','65세이상 인구.8'], 
             axis=1, inplace=True)

df_1120

           기간  자치구     동        전체인구   65세이상 인구 65세이상 인구.1 65세이상 인구.2
0          기간  자치구     동        전체인구         합계         합계         합계
1          기간  자치구     동           계          계         남자         여자
2    2011.1/4   합계    합계  10,581,728  1,018,534    440,762    577,772
3    2011.1/4  종로구    소계     179,068     22,595      9,846     12,749
4    2011.1/4  종로구   사직동      10,622      1,549        660        889
..        ...  ...   ...         ...        ...        ...        ...
448  2020.1/4  강동구  둔촌1동         279         95         35         60
449  2020.1/4  강동구  둔촌2동      27,520      4,123      1,917      2,206
450  2020.1/4  강동구  암사1동      36,492      5,751      2,509      3,242
451  2020.1/4  강동구  천호2동      35,714      5,815      2,628      3,187
452  2020.1/4  강동구    길동      46,063      7,289      3,323      3,966

[16806 rows x 7 columns]

In [30]:
# 컬럼이름 수정
df_1120.columns=['period', 'gu', 'dong', 'pop','olds','male_olds','female_olds']
df_1120

       period   gu  dong         pop       olds male_olds female_olds
0          기간  자치구     동        전체인구         합계        합계          합계
1          기간  자치구     동           계          계        남자          여자
2    2011.1/4   합계    합계  10,581,728  1,018,534   440,762     577,772
3    2011.1/4  종로구    소계     179,068     22,595     9,846      12,749
4    2011.1/4  종로구   사직동      10,622      1,549       660         889
..        ...  ...   ...         ...        ...       ...         ...
448  2020.1/4  강동구  둔촌1동         279         95        35          60
449  2020.1/4  강동구  둔촌2동      27,520      4,123     1,917       2,206
450  2020.1/4  강동구  암사1동      36,492      5,751     2,509       3,242
451  2020.1/4  강동구  천호2동      35,714      5,815     2,628       3,187
452  2020.1/4  강동구    길동      46,063      7,289     3,323       3,966

[16806 rows x 7 columns]

In [32]:
# 불필요한 row 삭제
df_1120 = df_1120[df_1120.period != '기간']
df_1120 = df_1120[df_1120.dong != '소계']

df_1120

       period   gu  dong         pop       olds male_olds female_olds
2    2011.1/4   합계    합계  10,581,728  1,018,534   440,762     577,772
4    2011.1/4  종로구   사직동      10,622      1,549       660         889
5    2011.1/4  종로구   삼청동       3,687        591       253         338
6    2011.1/4  종로구   부암동      11,635      1,544       718         826
7    2011.1/4  종로구   평창동      19,974      2,523     1,039       1,484
..        ...  ...   ...         ...        ...       ...         ...
448  2020.1/4  강동구  둔촌1동         279         95        35          60
449  2020.1/4  강동구  둔촌2동      27,520      4,123     1,917       2,206
450  2020.1/4  강동구  암사1동      36,492      5,751     2,509       3,242
451  2020.1/4  강동구  천호2동      35,714      5,815     2,628       3,187
452  2020.1/4  강동구    길동      46,063      7,289     3,323       3,966

[15807 rows x 7 columns]

In [34]:
# 데이터 프레임 안에 ',' 지우기
df_1120["pop"] = df_1120["pop"].replace(',', '', regex=True)
df_1120["olds"] = df_1120["olds"].replace(',', '', regex=True)
df_1120["male_olds"] = df_1120["male_olds"].replace(',', '', regex=True)
df_1120["female_olds"] = df_1120["female_olds"].replace(',', '', regex=True)
df_1120

       period   gu  dong       pop     olds male_olds female_olds
2    2011.1/4   합계    합계  10581728  1018534    440762      577772
4    2011.1/4  종로구   사직동     10622     1549       660         889
5    2011.1/4  종로구   삼청동      3687      591       253         338
6    2011.1/4  종로구   부암동     11635     1544       718         826
7    2011.1/4  종로구   평창동     19974     2523      1039        1484
..        ...  ...   ...       ...      ...       ...         ...
448  2020.1/4  강동구  둔촌1동       279       95        35          60
449  2020.1/4  강동구  둔촌2동     27520     4123      1917        2206
450  2020.1/4  강동구  암사1동     36492     5751      2509        3242
451  2020.1/4  강동구  천호2동     35714     5815      2628        3187
452  2020.1/4  강동구    길동     46063     7289      3323        3966

[15807 rows x 7 columns]

In [35]:
# 행정동이 구분이 안가는 인원수 삭제

df_1120 = df_1120[df_1120.dong != '기타']
df_1120

       period   gu  dong       pop     olds male_olds female_olds
2    2011.1/4   합계    합계  10581728  1018534    440762      577772
4    2011.1/4  종로구   사직동     10622     1549       660         889
5    2011.1/4  종로구   삼청동      3687      591       253         338
6    2011.1/4  종로구   부암동     11635     1544       718         826
7    2011.1/4  종로구   평창동     19974     2523      1039        1484
..        ...  ...   ...       ...      ...       ...         ...
448  2020.1/4  강동구  둔촌1동       279       95        35          60
449  2020.1/4  강동구  둔촌2동     27520     4123      1917        2206
450  2020.1/4  강동구  암사1동     36492     5751      2509        3242
451  2020.1/4  강동구  천호2동     35714     5815      2628        3187
452  2020.1/4  강동구    길동     46063     7289      3323        3966

[15714 rows x 7 columns]

In [36]:
# proportion 계산 (노인인구/전체인구 * 100)
df_1120_propo = df_1120.astype({'pop':int, 'olds':int, 'male_olds':int, 'female_olds':int})

df_1120_propo["proportion"] = (df_1120_propo["olds"]/df_1120_propo["pop"])*100
df_1120_propo["proportion"] = df_1120_propo["proportion"].round(2)

df_1120_propo

,period,gu,dong,pop,olds,male_olds,female_olds,proportion
2,2011.1/4,합계,합계,10581728,1018534,440762,577772,9.63
4,2011.1/4,종로구,사직동,10622,1549,660,889,14.58
5,2011.1/4,종로구,삼청동,3687,591,253,338,16.03
6,2011.1/4,종로구,부암동,11635,1544,718,826,13.27
7,2011.1/4,종로구,평창동,19974,2523,1039,1484,12.63
...,...,...,...,...,...,...,...,...
448,2020.1/4,강동구,둔촌1동,279,95,35,60,34.05
449,2020.1/4,강동구,둔촌2동,27520,4123,1917,2206,14.98
450,2020.1/4,강동구,암사1동,36492,5751,2509,3242,15.76
451,2020.1/4,강동구,천호2동,35714,5815,2628,3187,16.28
452,2020.1/4,강동구,길동,46063,7289,3323,3966,15.82

In [39]:
# 데이터 타입 확인
df_1120_propo["period"].unique()

array(['2011.1/4', '2011.2/4', '2011.3/4', '2011.4/4', '2012.1/4',
       '2012.2/4', '2012.3/4', '2012.4/4', '2013.1/4', '2013.2/4',
       '2013.3/4', '2013.4/4', '2014.1/4', '2014.2/4', '2014.3/4',
       '2014.4/4', '2015.1/4', '2015.2/4', '2015.3/4', '2015.4/4',
       '2016.1/4', '2016.2/4', '2016.3/4', '2016.4/4', '2017.1/4',
       '2017.2/4', '2017.3/4', '2017.4/4', '2018.1/4', '2018.2/4',
       '2018.3/4', '2018.4/4', '2019.1/4', '2019.2/4', '2019.3/4',
       '2019.4/4', '2020.1/4'], dtype=object)

In [40]:
# 10~20 전부 concat
df_total = pd.concat([df_total, df_1120_propo])
df_total

       period   gu  dong       pop    olds  male_olds  female_olds  proportion
0    2010.1/4   합계    합계  10464171  949680     408178       541502        9.08
1    2010.1/4  종로구   사직동     10433    1392        596          796       13.34
2    2010.1/4  종로구   삼청동      3689     557        236          321       15.10
3    2010.1/4  종로구   부암동     11566    1456        677          779       12.59
4    2010.1/4  종로구   평창동     19713    2346       1000         1346       11.90
..        ...  ...   ...       ...     ...        ...          ...         ...
448  2020.1/4  강동구  둔촌1동       279      95         35           60       34.05
449  2020.1/4  강동구  둔촌2동     27520    4123       1917         2206       14.98
450  2020.1/4  강동구  암사1동     36492    5751       2509         3242       15.76
451  2020.1/4  강동구  천호2동     35714    5815       2628         3187       16.28
452  2020.1/4  강동구    길동     46063    7289       3323         3966       15.82

[17414 rows x 8 columns]

In [21]:
# 데이터 타입 확인
type(df_total)

pandas.core.frame.DataFrame

In [41]:
# 인덱스 재배열
df_total.reset_index(drop=True, inplace=True)
df_total

,period,gu,dong,pop,olds,male_olds,female_olds,proportion
0,2010.1/4,합계,합계,10464171,949680,408178,541502,9.08
1,2010.1/4,종로구,사직동,10433,1392,596,796,13.34
2,2010.1/4,종로구,삼청동,3689,557,236,321,15.10
3,2010.1/4,종로구,부암동,11566,1456,677,779,12.59
4,2010.1/4,종로구,평창동,19713,2346,1000,1346,11.90
...,...,...,...,...,...,...,...,...
17409,2020.1/4,강동구,둔촌1동,279,95,35,60,34.05
17410,2020.1/4,강동구,둔촌2동,27520,4123,1917,2206,14.98
17411,2020.1/4,강동구,암사1동,36492,5751,2509,3242,15.76
17412,2020.1/4,강동구,천호2동,35714,5815,2628,3187,16.28
17413,2020.1/4,강동구,길동,46063,7289,3323,3966,15.82

In [42]:
# CSV 저장 (재사용 할 수 있도록)
# df_total.to_csv("data_csv/클러스터링용/olds_population(cp949).csv", sep=',', encoding = "cp949", index=False)