In [1]:
import pandas as pd

# 독거노인데이터

- 필요한 형태 : (기초생활 + 저소득) / (총 독거 노인)

In [44]:
data = pd.read_csv("data/독거노인_2019.txt", sep = "\t", header =[0, 1], index_col=[2])
data.head()

,2,"(기간, 기간)","(합계, 계)","(합계, 65세~79세)","(합계, 80세이상)","(국민기초생활보장수급권자, 계)","(국민기초생활보장수급권자, 65세~79세)","(국민기초생활보장수급권자, 80세이상)","(저소득노인, 계)","(저소득노인, 65세~79세)","(저소득노인, 80세이상)","(일반, 계)","(일반, 65세~79세)","(일반, 80세이상)"
합계,2019,합계,"365,800","272,001","93,799","79,851","56,159","23,692","20,530","12,028","8,502","265,419","203,814","61,605"
소계,2019,종로구,"9,149","6,653","2,496","1,445","1,099",346,528,323,205,"7,176","5,231","1,945"
사직동,2019,종로구,439,284,155,59,33,26,20,15,5,360,236,124
삼청동,2019,종로구,167,109,58,13,10,3,5,1,4,149,98,51
부암동,2019,종로구,346,221,125,37,22,15,12,6,6,297,193,104

In [45]:
# data 중에서 기초 생활, 저소득, 총 인원수만 필요
data = data.iloc[:, [1, 5, 8, 2]]
data.head()

    (기간, 기간) (국민기초생활보장수급권자, 계) (저소득노인, 계)  (합계, 계)
합계        합계            79,851     20,530  365,800
소계       종로구             1,445        528    9,149
사직동      종로구                59         20      439
삼청동      종로구                13          5      167
부암동      종로구                37         12      346

In [46]:
# 소계와 합계는 필요없으므로 삭제
data.drop(["소계", "합계"], axis = 0, inplace=True)
data

     (기간, 기간) (국민기초생활보장수급권자, 계) (저소득노인, 계) (합계, 계)
사직동       종로구                59         20     439
삼청동       종로구                13          5     167
부암동       종로구                37         12     346
평창동       종로구                45         26     640
무악동       종로구                57         17     265
...       ...               ...        ...     ...
둔촌1동      강동구                 -          -       3
둔촌2동      강동구               135         59     775
암사1동      강동구               331         79   1,304
천호2동      강동구               429        111   1,538
길동        강동구               264         77   1,455

[424 rows x 4 columns]

In [47]:
# 행정동이 index에 있으므로 reset
data = data.reset_index()

# column 이름 변경
data.columns = ["행정동", "구", "기초생활보장수급권자", "저소득", "독거노인"]
data

      행정동    구 기초생활보장수급권자  저소득   독거노인
0     사직동  종로구         59   20    439
1     삼청동  종로구         13    5    167
2     부암동  종로구         37   12    346
3     평창동  종로구         45   26    640
4     무악동  종로구         57   17    265
..    ...  ...        ...  ...    ...
419  둔촌1동  강동구          -    -      3
420  둔촌2동  강동구        135   59    775
421  암사1동  강동구        331   79  1,304
422  천호2동  강동구        429  111  1,538
423    길동  강동구        264   77  1,455

[424 rows x 5 columns]

In [48]:
# 보기좋은 순서대로 배치
data = data[["구", "행정동", "기초생활보장수급권자", "저소득", "독거노인"]]
data.head()

     구  행정동 기초생활보장수급권자 저소득 독거노인
0  종로구  사직동         59  20  439
1  종로구  삼청동         13   5  167
2  종로구  부암동         37  12  346
3  종로구  평창동         45  26  640
4  종로구  무악동         57  17  265

In [49]:
# 0인 값이 - 로 들어가 있으니 0으로 치환
data = data.replace("-", '0')
data

       구   행정동 기초생활보장수급권자  저소득   독거노인
0    종로구   사직동         59   20    439
1    종로구   삼청동         13    5    167
2    종로구   부암동         37   12    346
3    종로구   평창동         45   26    640
4    종로구   무악동         57   17    265
..   ...   ...        ...  ...    ...
419  강동구  둔촌1동          0    0      3
420  강동구  둔촌2동        135   59    775
421  강동구  암사1동        331   79  1,304
422  강동구  천호2동        429  111  1,538
423  강동구    길동        264   77  1,455

[424 rows x 5 columns]

In [50]:
# 기초생활보장수급권자, 저소득, 독거노인 모두 string 이므로 int형으로 변환하기 위해 1,330 과 같은 형태일 때 , 삭제하기
data["기초생활보장수급권자"] = data["기초생활보장수급권자"].str.replace(",", "")
data["저소득"] = data["저소득"].str.replace(",", "")
data["독거노인"] = data["독거노인"].str.replace(",", "")

# 두 컬럼 모두 int로 변환
data["기초생활보장수급권자"] = data["기초생활보장수급권자"].astype("int")
data["저소득"] = data["저소득"].astype("int")
data["독거노인"] = data["독거노인"].astype("int")
data.head()

     구  행정동  기초생활보장수급권자  저소득  독거노인
0  종로구  사직동          59   20   439
1  종로구  삼청동          13    5   167
2  종로구  부암동          37   12   346
3  종로구  평창동          45   26   640
4  종로구  무악동          57   17   265

In [51]:
# 취약계층 = 기초생활보장수급권자 + 저소득 
data["취약계층"] = data["기초생활보장수급권자"] + data["저소득"]
data.head()

     구  행정동  기초생활보장수급권자  저소득  독거노인  취약계층
0  종로구  사직동          59   20   439    79
1  종로구  삼청동          13    5   167    18
2  종로구  부암동          37   12   346    49
3  종로구  평창동          45   26   640    71
4  종로구  무악동          57   17   265    74

In [52]:
basicLevelSenior = data[["구", "행정동", "취약계층", "독거노인"]]
basicLevelSenior.head()

     구  행정동  취약계층  독거노인
0  종로구  사직동    79   439
1  종로구  삼청동    18   167
2  종로구  부암동    49   346
3  종로구  평창동    71   640
4  종로구  무악동    74   265

# 전체 노인 인구
- 동별 전체 노인 인구를 취약계층 컬럼에 취합할 것

In [53]:
totalSenior = pd.read_csv("data/서울시 고령자현황 (동별) 통계 (2019_4).txt", sep="\t", header = [0, 1, 2], index_col=[2])
totalSenior.head()

,2,"(기간, 기간, 기간)","(전체인구, 전체인구, 계)","(전체인구, 전체인구, 남자)","(전체인구, 전체인구, 여자)","(65세이상 인구, 합계, 계)","(65세이상 인구, 합계, 남자)","(65세이상 인구, 합계, 여자)","(65세이상 인구, 내국인, 계)","(65세이상 인구, 내국인, 남자)","(65세이상 인구, 내국인, 여자)","(65세이상 인구, 외국인, 계)","(65세이상 인구, 외국인, 남자)","(65세이상 인구, 외국인, 여자)"
합계,2019.4/4,합계,"10,010,983","4,877,725","5,133,258","1,485,272","656,595","828,677","1,478,664","653,108","825,556","6,608","3,487","3,121"
소계,2019.4/4,종로구,"161,869","78,215","83,654","27,519","12,162","15,357","27,318","12,049","15,269",201,113,88
사직동,2019.4/4,종로구,"9,815","4,455","5,360","1,778",759,"1,019","1,767",753,"1,014",11,6,5
삼청동,2019.4/4,종로구,"2,997","1,439","1,558",664,286,378,643,272,371,21,14,7
부암동,2019.4/4,종로구,"10,551","5,045","5,506","1,762",776,986,"1,756",772,984,6,4,2

In [54]:
# 구, 동, 총 노인 수만 남김
totalSenior = totalSenior.iloc[:,[1, 5]]
totalSenior.head()

    (기간, 기간, 기간) (65세이상 인구, 합계, 계)
합계            합계         1,485,272
소계           종로구            27,519
사직동          종로구             1,778
삼청동          종로구               664
부암동          종로구             1,762

In [55]:
# 합계, 소계 삭제
totalSenior = totalSenior.drop(["합계", "소계"], axis = 0)

# index reset
totalSenior = totalSenior.reset_index()

# 컬럼명 변환
totalSenior.columns = ["행정동", "구", "총 노인인구"]

# 컬럼 순서 변환
totalSenior = totalSenior[["구", "행정동", "총 노인인구"]]

# 총 노인인구의 comma 삭제
totalSenior["총 노인인구"] = totalSenior["총 노인인구"].str.replace(",", "")

# 총 노인인구를 int형으로 변환
totalSenior["총 노인인구"] = totalSenior["총 노인인구"].astype("int")

totalSenior.head()

     구  행정동  총 노인인구
0  종로구  사직동    1778
1  종로구  삼청동     664
2  종로구  부암동    1762
3  종로구  평창동    3263
4  종로구  무악동    1413

# 취약계층,  총 노인인구 dataframe 합치기

In [56]:
seniorDf = basicLevelSenior.merge(totalSenior)
seniorDf

       구   행정동  취약계층  독거노인  총 노인인구
0    종로구   사직동    79   439    1778
1    종로구   삼청동    18   167     664
2    종로구   부암동    49   346    1762
3    종로구   평창동    71   640    3263
4    종로구   무악동    74   265    1413
..   ...   ...   ...   ...     ...
419  강동구  둔촌1동     0     3      94
420  강동구  둔촌2동   194   775    4010
421  강동구  암사1동   410  1304    5623
422  강동구  천호2동   540  1538    5692
423  강동구    길동   341  1455    7125

[424 rows x 5 columns]

In [57]:
seniorDf["전체노인_취약계층"] = seniorDf["취약계층"] / seniorDf["총 노인인구"]
seniorDf

       구   행정동  취약계층  독거노인  총 노인인구  전체노인_취약계층
0    종로구   사직동    79   439    1778   0.044432
1    종로구   삼청동    18   167     664   0.027108
2    종로구   부암동    49   346    1762   0.027809
3    종로구   평창동    71   640    3263   0.021759
4    종로구   무악동    74   265    1413   0.052371
..   ...   ...   ...   ...     ...        ...
419  강동구  둔촌1동     0     3      94   0.000000
420  강동구  둔촌2동   194   775    4010   0.048379
421  강동구  암사1동   410  1304    5623   0.072915
422  강동구  천호2동   540  1538    5692   0.094870
423  강동구    길동   341  1455    7125   0.047860

[424 rows x 6 columns]

In [58]:
seniorDf["독거노인_취약계층"] = seniorDf["취약계층"] / seniorDf["독거노인"]
seniorDf

       구   행정동  취약계층  독거노인  총 노인인구  전체노인_취약계층  독거노인_취약계층
0    종로구   사직동    79   439    1778   0.044432   0.179954
1    종로구   삼청동    18   167     664   0.027108   0.107784
2    종로구   부암동    49   346    1762   0.027809   0.141618
3    종로구   평창동    71   640    3263   0.021759   0.110937
4    종로구   무악동    74   265    1413   0.052371   0.279245
..   ...   ...   ...   ...     ...        ...        ...
419  강동구  둔촌1동     0     3      94   0.000000   0.000000
420  강동구  둔촌2동   194   775    4010   0.048379   0.250323
421  강동구  암사1동   410  1304    5623   0.072915   0.314417
422  강동구  천호2동   540  1538    5692   0.094870   0.351105
423  강동구    길동   341  1455    7125   0.047860   0.234364

[424 rows x 7 columns]

In [61]:
seniorDf.to_csv("data/분석용 데이터/firstClusteringDF(cp949).csv", encoding = "cp949", index = False)

In [60]:
pd.read_csv("data/firstClusteringDF(cp949).csv", encoding = "cp949")

       구   행정동  취약계층  독거노인  총 노인인구  전체노인_취약계층  독거노인_취약계층
0    종로구   사직동    79   439    1778   0.044432   0.179954
1    종로구   삼청동    18   167     664   0.027108   0.107784
2    종로구   부암동    49   346    1762   0.027809   0.141618
3    종로구   평창동    71   640    3263   0.021759   0.110937
4    종로구   무악동    74   265    1413   0.052371   0.279245
..   ...   ...   ...   ...     ...        ...        ...
419  강동구  둔촌1동     0     3      94   0.000000   0.000000
420  강동구  둔촌2동   194   775    4010   0.048379   0.250323
421  강동구  암사1동   410  1304    5623   0.072915   0.314417
422  강동구  천호2동   540  1538    5692   0.094870   0.351105
423  강동구    길동   341  1455    7125   0.047860   0.234364

[424 rows x 7 columns]