In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import matplotlib.font_manager as fm

font_name = fm.FontProperties(fname = 'C:\Windows\Fonts\malgun.ttf').get_name()
plt.rc('font', family = font_name)

# 데이터 전처리

- 매매, 전/월세 모두 단위 면적당 금액을 구함
- 각 행정동의 대푯값을 중앙값으로 채택

---

## 매매 데이터

1. 필요한 column 만 선택 <br>
    -> 전용면적(㎡), 거래금액(만원), 구, 행정동<br><br>
    
2. 단위 면적당 금액에 대한 컬럼 생성<br>
    -> 거래금액에 콤마 제거 및 int형으로 변환<br>
    -> 단위면적당 매매금액 = 전용면적 / 거래금액

In [63]:
data = pd.read_csv("data/부동산/연립다세대_매매_2019(cp949).csv", encoding="cp949")
data

,시군구,건물명,전용면적(㎡),대지권면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명주소,지번주소,구,행정동
0,서울특별시 강남구 개포동,(1164-27),51.78,36.36,201902,26,"55,000",3,2016.0,서울특별시 강남구 논현로2길 66,서울특별시 강남구 개포동1164-27,강남구,개포4동
1,서울특별시 강남구 개포동,(1164-27),51.78,37.61,201912,21,"57,500",4,2016.0,서울특별시 강남구 논현로2길 66,서울특별시 강남구 개포동1164-27,강남구,개포4동
2,서울특별시 강남구 개포동,(1216-4),33.77,21.67,201910,26,"27,500",4,2012.0,서울특별시 강남구 개포로26길 16,서울특별시 강남구 개포동1216-4,강남구,개포4동
3,서울특별시 강남구 개포동,(170-18),26.60,21.53,201903,18,"38,000",1,1988.0,서울특별시 강남구 선릉로12길 17,서울특별시 강남구 개포동170-18,강남구,개포2동
4,서울특별시 강남구 개포동,(171-10),78.14,56.07,201902,19,"68,000",2,1991.0,서울특별시 강남구 선릉로14길 19,서울특별시 강남구 개포동171-10,강남구,개포2동
...,...,...,...,...,...,...,...,...,...,...,...,...,...
42149,서울특별시 중랑구 중화동,해피리움빌,29.89,21.90,201906,7,"21,200",3,2019.0,서울특별시 중랑구 봉화산로4길 20-4,서울특별시 중랑구 중화동329-25,중랑구,중화2동
42150,서울특별시 중랑구 중화동,현석아트빌,43.90,31.02,201904,12,"20,800",3,2003.0,서울특별시 중랑구 동일로140길 77,서울특별시 중랑구 중화동275-4,중랑구,중화1동
42151,서울특별시 중랑구 중화동,화랑힐스빌,49.20,29.70,201902,22,"25,500",5,2014.0,서울특별시 중랑구 동일로144가길 27,서울특별시 중랑구 중화동274-36,중랑구,중화1동
42152,서울특별시 중랑구 중화동,화수분빌리지103,74.40,44.25,201906,22,"27,000",2,2003.0,서울특별시 중랑구 봉화산로21길 18,서울특별시 중랑구 중화동86-11,중랑구,중화1동
42153,서울특별시 중랑구 중화동,화인하우스(307-4),51.28,25.72,201912,14,"32,950",5,2017.0,서울특별시 중랑구 동일로139가길 22,서울특별시 중랑구 중화동307-4,중랑구,중화2동

In [64]:
# 1. 필요한 column 만 선택
data = data[["전용면적(㎡)", "거래금액(만원)", "구", "행정동"]]
data.head()

   전용면적(㎡) 거래금액(만원)    구   행정동
0    51.78   55,000  강남구  개포4동
1    51.78   57,500  강남구  개포4동
2    33.77   27,500  강남구  개포4동
3    26.60   38,000  강남구  개포2동
4    78.14   68,000  강남구  개포2동

In [65]:
# 2. 단위면적당 금액에 대한 컬럼 생성

## 2-1. comma 제거 및 int형 변환
data["거래금액(만원)"] = data["거래금액(만원)"].str.replace(",", "")
data["거래금액(만원)"] = data["거래금액(만원)"].astype("int")

## 2-2. 단위면적당 매매금액 column 생성
data["단위면적당금액"] = data["거래금액(만원)"] / data["전용면적(㎡)"]
data.head()

C:\Users\acorn\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\acorn\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\acorn\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   전용면적(㎡)  거래금액(만원)    구   행정동      단위면적당금액
0    51.78     55000  강남구  개포4동  1062.186172
1    51.78     57500  강남구  개포4동  1110.467362
2    33.77     27500  강남구  개포4동   814.332248
3    26.60     38000  강남구  개포2동  1428.571429
4    78.14     68000  강남구  개포2동   870.232915

In [68]:
attachSalesMedian = data.groupby(["구", "행정동"])[["단위면적당금액"]].median()
attachSalesMedian = attachSalesMedian.reset_index()
attachSalesMedian

       구   행정동      단위면적당금액
0    강남구  개포2동   982.499232
1    강남구  개포4동   773.838364
2    강남구  논현1동   930.350788
3    강남구  논현2동  1109.289617
4    강남구  대치1동  1115.333265
..   ...   ...          ...
386  중랑구  상봉1동   378.698225
387  중랑구  상봉2동   637.073986
388  중랑구  신내1동   451.536584
389  중랑구  중화1동   432.325735
390  중랑구  중화2동   549.376475

[391 rows x 3 columns]

In [69]:
attachSalesMedian.to_csv("data/분석용 데이터/연립다세대_매매_2019(cp949).csv", encoding="cp949", index = False)

In [70]:
pd.read_csv("data/분석용 데이터/연립다세대_매매_2019(cp949).csv", encoding="cp949")

       구   행정동      단위면적당금액
0    강남구  개포2동   982.499232
1    강남구  개포4동   773.838364
2    강남구  논현1동   930.350788
3    강남구  논현2동  1109.289617
4    강남구  대치1동  1115.333265
..   ...   ...          ...
386  중랑구  상봉1동   378.698225
387  중랑구  상봉2동   637.073986
388  중랑구  신내1동   451.536584
389  중랑구  중화1동   432.325735
390  중랑구  중화2동   549.376475

[391 rows x 3 columns]

## 전/월세 데이터

1. 필요한 column 만 선택 <br>
    -> 전용면적(㎡), 전월세구분, 보증금, 월세, 구, 행정동<br><br>

2. 월세 -> 전세로 변환 (데이터의 통일성을 높이기 위해)<br>
    -> 보증금 콤마 제거 및 int형으로 변환 (월세는 이미 int형)<br>
    -> 공식 : 전세보증금 = {(월세*12)/전월세전환율} * 100 + 월세보증금<br>
    -> 전월세 전환율 : {연립다세대 : 4.48, 아파트 : 4.04, 단독주택 : 6.13}<br>
    -> __출처 : (한국감정원, 전국주택가격동향조사, 지역별 전월세전환율)__<br><br>

3. 단위 면적당 금액에 대한 컬럼 생성<br>
    -> 단위면적당 매매금액 = 전용면적 / 전세보증금

In [71]:
data = pd.read_csv("data/부동산/연립다세대_전월세_2019(cp949).csv", encoding="cp949")
data

,시군구,건물명,전월세구분,전용면적(㎡),계약년월,계약일,보증금(만원),월세(만원),층,건축년도,도로명주소,지번주소,구,행정동
0,서울특별시 강남구 개포동,(1163-4),전세,21.88,201902,24,"15,000",0,3,2013,서울특별시 강남구 논현로 10,서울특별시 강남구 개포동1163-4,강남구,개포4동
1,서울특별시 강남구 개포동,(1163-4),전세,21.88,201903,16,"16,000",0,4,2013,서울특별시 강남구 논현로 10,서울특별시 강남구 개포동1163-4,강남구,개포4동
2,서울특별시 강남구 개포동,(1163-4),전세,21.88,201904,2,"16,000",0,3,2013,서울특별시 강남구 논현로 10,서울특별시 강남구 개포동1163-4,강남구,개포4동
3,서울특별시 강남구 개포동,(1163-4),전세,21.88,201906,9,"15,000",0,2,2013,서울특별시 강남구 논현로 10,서울특별시 강남구 개포동1163-4,강남구,개포4동
4,서울특별시 강남구 개포동,(1163-4),전세,21.88,201908,26,"16,000",0,5,2013,서울특별시 강남구 논현로 10,서울특별시 강남구 개포동1163-4,강남구,개포4동
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98962,서울특별시 중랑구 중화동,화인하우스(307-4),월세,51.70,201908,4,"6,000",70,6,2017,서울특별시 중랑구 동일로139가길 22,서울특별시 중랑구 중화동307-4,중랑구,중화2동
98963,서울특별시 중랑구 중화동,화인하우스(307-4),전세,51.28,201908,10,"30,000",0,5,2017,서울특별시 중랑구 동일로139가길 22,서울특별시 중랑구 중화동307-4,중랑구,중화2동
98964,서울특별시 중랑구 중화동,휴렉스빌,전세,29.92,201911,8,"17,000",0,3,2016,서울특별시 중랑구 봉화산로27다길 6,서울특별시 중랑구 중화동15-2,중랑구,중화1동
98965,서울특별시 중랑구 중화동,힐하우스,전세,29.09,201910,1,"15,500",0,2,2018,서울특별시 중랑구 중랑천로 119,서울특별시 중랑구 중화동325-22,중랑구,중화2동
98966,서울특별시 중랑구 중화동,힐하우스,전세,29.09,201912,14,"16,000",0,2,2018,서울특별시 중랑구 중랑천로 119,서울특별시 중랑구 중화동325-22,중랑구,중화2동

In [72]:
# 1. 필요한 column 만 선택
data = data[["전용면적(㎡)", "보증금(만원)", "월세(만원)", "구", "행정동"]]
data.head()

   전용면적(㎡) 보증금(만원)  월세(만원)    구   행정동
0    21.88  15,000       0  강남구  개포4동
1    21.88  16,000       0  강남구  개포4동
2    21.88  16,000       0  강남구  개포4동
3    21.88  15,000       0  강남구  개포4동
4    21.88  16,000       0  강남구  개포4동

In [73]:
# 2. 월세 -> 전세로 변환
## 2-1. 보증금 콤마 제거 및 int형으로 변환
data["보증금(만원)"] = data["보증금(만원)"].str.replace(",", "")
data["보증금(만원)"] = data["보증금(만원)"].astype("int")
data.head()

C:\Users\acorn\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\acorn\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

   전용면적(㎡)  보증금(만원)  월세(만원)    구   행정동
0    21.88    15000       0  강남구  개포4동
1    21.88    16000       0  강남구  개포4동
2    21.88    16000       0  강남구  개포4동
3    21.88    15000       0  강남구  개포4동
4    21.88    16000       0  강남구  개포4동

In [74]:
## 2-2. 공식 : 전세보증금 = {(월세*12)/전환율} * 100 + 월세보증금
### 전환율 : {연립다세대 : 4.48, 아파트 : 4.04, 단독주택 : 6.13}- 데이터에 따라 변환 할 것

data["전세보증금"] = ((data["월세(만원)"] * 12 / 4.48) * 100) + data['보증금(만원)']
data.head()

C:\Users\acorn\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

   전용면적(㎡)  보증금(만원)  월세(만원)    구   행정동    전세보증금
0    21.88    15000       0  강남구  개포4동  15000.0
1    21.88    16000       0  강남구  개포4동  16000.0
2    21.88    16000       0  강남구  개포4동  16000.0
3    21.88    15000       0  강남구  개포4동  15000.0
4    21.88    16000       0  강남구  개포4동  16000.0

In [75]:
# 3.단위 면적당 금액에 대한 컬럼 생성
data["단위면적당_전세"] = data["전세보증금"] / data["전용면적(㎡)"]
data.head()

C:\Users\acorn\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   전용면적(㎡)  보증금(만원)  월세(만원)    구   행정동    전세보증금    단위면적당_전세
0    21.88    15000       0  강남구  개포4동  15000.0  685.557587
1    21.88    16000       0  강남구  개포4동  16000.0  731.261426
2    21.88    16000       0  강남구  개포4동  16000.0  731.261426
3    21.88    15000       0  강남구  개포4동  15000.0  685.557587
4    21.88    16000       0  강남구  개포4동  16000.0  731.261426

In [76]:
attachRentMedian = data.groupby(["구", "행정동"])[["단위면적당_전세"]].median()
attachRentMedian = attachRentMedian.reset_index()
attachRentMedian

       구   행정동    단위면적당_전세
0    강남구  개포1동  464.336107
1    강남구  개포2동  534.738486
2    강남구  개포4동  569.563807
3    강남구  논현1동  732.789322
4    강남구  논현2동  643.492772
..   ...   ...         ...
392  중랑구  상봉1동  440.965715
393  중랑구  상봉2동  692.840647
394  중랑구  신내1동  390.075632
395  중랑구  중화1동  410.848550
396  중랑구  중화2동  564.894867

[397 rows x 3 columns]

In [77]:
attachRentMedian.to_csv("data/분석용 데이터/연립다세대_전월세_2019(cp949).csv", encoding="cp949", index = False)

In [78]:
pd.read_csv("data/분석용 데이터/연립다세대_전월세_2019(cp949).csv", encoding="cp949")

       구   행정동    단위면적당_전세
0    강남구  개포1동  464.336107
1    강남구  개포2동  534.738486
2    강남구  개포4동  569.563807
3    강남구  논현1동  732.789322
4    강남구  논현2동  643.492772
..   ...   ...         ...
392  중랑구  상봉1동  440.965715
393  중랑구  상봉2동  692.840647
394  중랑구  신내1동  390.075632
395  중랑구  중화1동  410.848550
396  중랑구  중화2동  564.894867

[397 rows x 3 columns]

# Null값 처리

1. 실제로 해당 행정동에 매물이 있는지 없는지 확인
2. 해당 행정동에 매물이 정말 없는 부분은 0 값으로 처리
3. 매물이 존재할 경우 직접 손으로 처리(다른 사이트에서 크롤링)

---
* 데이터는 클러스터링 파일에서 만든 클러스터링용 데이터를 가져옴

In [140]:
### 분석용 데이터
data = pd.read_csv('data/분석용_데이터/1stClusteringData_1(cp949).csv', encoding="cp949")
data.head()

,구,행정동,독거노인,연립다세대_매매,연립다세대_전월세,아파트_매매,아파트_전월세,단독다가구_매매,단독다가구_전월세
0,종로구,사직동,439,658.951346,414.007713,1002.930454,479.008604,893.404747,385.713580
1,종로구,삼청동,167,441.153301,330.288235,NaN,342.779517,748.753412,330.271380
2,종로구,부암동,346,508.474576,336.686423,504.896994,339.217722,444.702516,309.176750
3,종로구,평창동,640,546.834313,373.015873,633.650158,323.635888,417.301825,277.961668
4,종로구,무악동,265,652.413624,366.351374,1065.000000,279.069767,670.076330,267.441860

In [141]:
data["행정동"] =data["행정동"].str.replace("·", ".")

In [142]:
data[data["행정동"].str.contains(r"[제]")]["행정동"].unique()

array(['제기동', '홍제1동', '홍제3동', '홍제2동'], dtype=object)

#### 단독다가구 매매

In [143]:
# Nan값 채울 데이터 불러오기
houseSales = pd.read_csv("data/분석용_데이터/단독_다가구_매매_결측치_forClustering(cp949).csv", encoding="cp949")
houseSales.head()

,구,법정동,도로명,단위면적당금액,도로명주소,행정동,x,y
0,종로구,연지동,창경궁로16나길,906.010488,서울특별시 종로구 연지동 창경궁로16나길,종로5.6가동,126.999396,37.575053
1,종로구,효제동,대학로2길,1696.284330,서울특별시 종로구 효제동 대학로2길,종로5.6가동,127.004077,37.571495
2,종로구,효제동,대학로2길,1038.637308,서울특별시 종로구 효제동 대학로2길,종로5.6가동,127.004077,37.571495
3,종로구,효제동,율곡로14길,457.478689,서울특별시 종로구 효제동 율곡로14길,종로5.6가동,127.003176,37.574700
4,종로구,효제동,김상옥로,3599.516031,서울특별시 종로구 효제동 김상옥로,종로5.6가동,127.002187,37.573337

In [144]:
# nan값에 채울 median 만들기
houseSalesMedian = houseSales.groupby(["구", "행정동"])[["단위면적당금액"]].median()
houseSalesMedian = houseSalesMedian.reset_index()
houseSalesMedian.head()

     구  행정동     단위면적당금액
0  강북구  미아동  337.683518
1  강북구  번2동  250.681528
2  강북구  번3동  359.647259
3  강북구  삼양동  485.305200
4  강북구  송중동  525.212512

In [145]:
houseSalesMedian.loc[houseSalesMedian["행정동"] == '면목제3.8동', "행정동"] = "면목3.8동"
houseSalesMedian[houseSalesMedian["행정동"].str.contains(r"[제]")]["행정동"].unique()

array([], dtype=object)

In [146]:
data[data["단독다가구_매매"].isnull()].shape

(43, 9)

In [147]:
count = 0
for k in data[data["단독다가구_매매"].isnull()]["행정동"].unique():
    if k in houseSalesMedian["행정동"].unique():
        count += 1
print(count)

5

In [148]:
# 구, 행정동에 맞춰서 nan값 채우기

for gu, dong in data[data["단독다가구_매매"].isnull()][["구", "행정동"]].values:
    value = houseSalesMedian[(houseSalesMedian["구"] == gu) & (houseSalesMedian["행정동"] == dong)]["단위면적당금액"].values
    if len(value) != 0:
        data.loc[(data["구"] == gu)&(data["행정동"] == dong), "단독다가구_매매"] = value[0]

In [149]:
data[data["단독다가구_매매"].isnull()].shape

(38, 9)

In [150]:
data.head()

,구,행정동,독거노인,연립다세대_매매,연립다세대_전월세,아파트_매매,아파트_전월세,단독다가구_매매,단독다가구_전월세
0,종로구,사직동,439,658.951346,414.007713,1002.930454,479.008604,893.404747,385.713580
1,종로구,삼청동,167,441.153301,330.288235,NaN,342.779517,748.753412,330.271380
2,종로구,부암동,346,508.474576,336.686423,504.896994,339.217722,444.702516,309.176750
3,종로구,평창동,640,546.834313,373.015873,633.650158,323.635888,417.301825,277.961668
4,종로구,무악동,265,652.413624,366.351374,1065.000000,279.069767,670.076330,267.441860

#### 단독다가구 전월세

In [151]:
# Nan값 채울 데이터 불러오기
house_rent = pd.read_csv("data/분석용_데이터/단독_다가구_전월세_결측치_forClustering(cp949).csv", encoding="cp949")
house_rent.head()

,구,법정동,도로명,단위면적당_전세,도로명주소,행정동,x,y,x+y
0,종로구,효제동,종로35길,180.505415,서울특별시 종로구 효제동 종로35길,종로5.6가동,127.003800,37.572654,127.003800329963 37.5726538002837
1,종로구,효제동,대학로2길,150.421179,서울특별시 종로구 효제동 대학로2길,종로5.6가동,127.004077,37.571495,127.004077378874 37.5714945707432
2,종로구,효제동,대학로2길,120.336943,서울특별시 종로구 효제동 대학로2길,종로5.6가동,127.004077,37.571495,127.004077378874 37.5714945707432
3,종로구,효제동,대학로2길,120.336943,서울특별시 종로구 효제동 대학로2길,종로5.6가동,127.004077,37.571495,127.004077378874 37.5714945707432
4,종로구,종로6가,충신길,130.365022,서울특별시 종로구 종로6가 충신길,종로5.6가동,127.007658,37.574720,127.007657810835 37.5747204952749

In [152]:
# nan값에 채울 median 만들기
house_rent_median = house_rent.groupby(["구", "행정동"])[["단위면적당_전세"]].median()
house_rent_median = house_rent_median.reset_index()
house_rent_median.head()

     구   행정동    단위면적당_전세
0  강서구  가양1동  138.107322
1  강서구  가양3동   70.196550
2  구로구  가리봉동  476.769984
3  구로구  구로2동   90.252708
4  구로구  구로3동   90.252708

In [153]:
house_rent_median[house_rent_median["행정동"].str.contains(r"[제]")]["행정동"].unique()

array(['면목제3.8동'], dtype=object)

In [154]:
house_rent_median.loc[house_rent_median["행정동"] == '면목제3.8동', "행정동"] = "면목3.8동"
house_rent_median[house_rent_median["행정동"].str.contains(r"[제]")]["행정동"].unique()

array([], dtype=object)

In [155]:
data[data["단독다가구_전월세"].isnull()].shape

(26, 9)

In [156]:
count = 0
for k in data[data["단독다가구_전월세"].isnull()]["행정동"].unique():
    if k in house_rent_median["행정동"].unique():
        count += 1
print(count)

2

In [157]:
# 구, 행정동에 맞춰서 nan값 채우기
for gu, dong in data[data["단독다가구_전월세"].isnull()][["구", "행정동"]].values:
    value = house_rent_median[(house_rent_median["구"] == gu) & (house_rent_median["행정동"] == dong)]["단위면적당_전세"].values
    if len(value) != 0:
        data.loc[(data["구"] == gu)&(data["행정동"] == dong), "단독다가구_전월세"] = value[0]

In [158]:
data[data["단독다가구_전월세"].isnull()].shape

(24, 9)

In [159]:
data.head()

,구,행정동,독거노인,연립다세대_매매,연립다세대_전월세,아파트_매매,아파트_전월세,단독다가구_매매,단독다가구_전월세
0,종로구,사직동,439,658.951346,414.007713,1002.930454,479.008604,893.404747,385.713580
1,종로구,삼청동,167,441.153301,330.288235,NaN,342.779517,748.753412,330.271380
2,종로구,부암동,346,508.474576,336.686423,504.896994,339.217722,444.702516,309.176750
3,종로구,평창동,640,546.834313,373.015873,633.650158,323.635888,417.301825,277.961668
4,종로구,무악동,265,652.413624,366.351374,1065.000000,279.069767,670.076330,267.441860

### 연립다세대

#### 매매

In [160]:
# Nan값 채울 데이터 불러오기
villaSales = pd.read_csv("data/분석용_데이터/연립다가구_매매_결측치_forClustering(cp949).csv", encoding="cp949")
villaSales.head()

     구  법정동      지번   연립/빌라이름      단위면적당금액                 도로명주소   행정동
0  용산구  이촌동  203-33  (203-33)  1279.863481  서울특별시 용산구 이촌동 203-33  이촌2동
1  용산구  이촌동  203-39  (203-39)  2223.869533  서울특별시 용산구 이촌동 203-39  이촌2동
2  용산구  이촌동  203-39  (203-39)  2409.191994  서울특별시 용산구 이촌동 203-39  이촌2동
3  용산구  이촌동  199-26    삼우(3동)  1274.697259  서울특별시 용산구 이촌동 199-26  이촌2동
4  용산구  이촌동  203-39  (203-39)  2446.256486  서울특별시 용산구 이촌동 203-39  이촌2동

In [161]:
# nan값에 채울 median 만들기
villaSalesMedian = villaSales.groupby(["구", "행정동"])[["단위면적당금액"]].median()
villaSalesMedian = villaSalesMedian.reset_index()
villaSalesMedian.head()

     구   행정동     단위면적당금액
0  강동구  둔촌2동  670.270270
1  강서구  가양1동  459.329572
2  노원구  중계4동  513.304059
3  노원구  중계본동  340.625000
4  도봉구   창1동  364.391157

In [162]:
count = 0
for k in data[data["연립다세대_매매"].isnull()]["행정동"].unique():
    if k in villaSalesMedian["행정동"].unique():
        count += 1
print(count)

0

#### 전월세

In [163]:
# Nan값 채울 데이터 불러오기
villa_rent = pd.read_csv("data/분석용_데이터/연립다가구_전월세_결측치_forClustering(cp949).csv", encoding="cp949")
villa_rent.head()

     구  법정동     지번            연립/빌라이름    단위면적당_전세                도로명주소   행정동
0  노원구  중계동  90-27         (90-27)쉬즈빌  192.133816  서울특별시 노원구 중계동 90-27  중계본동
1  노원구  중계동  75-45  Mean.house(75-45)  332.053743  서울특별시 노원구 중계동 75-45  중계본동
2  노원구  중계동  75-20               궁전빌라  144.378271  서울특별시 노원구 중계동 75-20  중계본동
3  노원구  중계동  75-20               궁전빌라  181.284530  서울특별시 노원구 중계동 75-20  중계본동
4  노원구  중계동  75-20               궁전빌라  181.284530  서울특별시 노원구 중계동 75-20  중계본동

In [164]:
# nan값에 채울 median 만들기
villa_rent_median = villa_rent.groupby(["구", "행정동"])[["단위면적당_전세"]].median()
villa_rent_median = villa_rent_median.reset_index()
villa_rent_median.head()

     구   행정동    단위면적당_전세
0  강동구  둔촌1동  611.951044
1  강동구  둔촌2동  572.197913
2  강서구  가양1동  673.289183
3  노원구  중계4동  350.701403
4  노원구  중계본동  260.678973

In [165]:
len(data[data["연립다세대_전월세"].isnull()]["행정동"].unique())

29

In [166]:
count = 0
for k in data[data["연립다세대_전월세"].isnull()]["행정동"].unique():
    if k in villa_rent_median["행정동"].unique():
        count += 1
print(count)

1

In [167]:
# 구, 행정동에 맞춰서 nan값 채우기
for gu, dong in data[data["연립다세대_전월세"].isnull()][["구", "행정동"]].values:
    value = villa_rent_median[(villa_rent_median["구"] == gu) & (villa_rent_median["행정동"] == dong)]["단위면적당_전세"].values
    if len(value) != 0:
        data.loc[(data["구"] == gu)&(data["행정동"] == dong), "연립다세대_전월세"] = value[0]

In [168]:
len(data[data["연립다세대_전월세"].isnull()]["행정동"].unique())

28

In [169]:
data.head()

,구,행정동,독거노인,연립다세대_매매,연립다세대_전월세,아파트_매매,아파트_전월세,단독다가구_매매,단독다가구_전월세
0,종로구,사직동,439,658.951346,414.007713,1002.930454,479.008604,893.404747,385.713580
1,종로구,삼청동,167,441.153301,330.288235,NaN,342.779517,748.753412,330.271380
2,종로구,부암동,346,508.474576,336.686423,504.896994,339.217722,444.702516,309.176750
3,종로구,평창동,640,546.834313,373.015873,633.650158,323.635888,417.301825,277.961668
4,종로구,무악동,265,652.413624,366.351374,1065.000000,279.069767,670.076330,267.441860

### 아파트
#### 매매

In [170]:
# Nan값 채울 데이터 불러오기
aptSales = pd.read_csv("data/분석용_데이터/아파트_매매_결측치_forClustering(cp949).csv", encoding="cp949")
aptSales

     구  법정동    지번    아파트이름      단위면적당금액                지번주소      행정동
0  종로구  효제동  65-2  포레스트힐시티  1199.760048  서울특별시 종로구 효제동 65-2  종로5.6가동
1  종로구  효제동  65-2  포레스트힐시티  1229.754049  서울특별시 종로구 효제동 65-2  종로5.6가동
2  종로구  효제동  65-2  포레스트힐시티  1128.003923  서울특별시 종로구 효제동 65-2  종로5.6가동
3  종로구  효제동  65-2  포레스트힐시티  1162.334478  서울특별시 종로구 효제동 65-2  종로5.6가동
4  종로구  충신동  62-2     CS타워   774.840474  서울특별시 종로구 충신동 62-2  종로5.6가동

In [171]:
data.loc[data["행정동"] == "종로5.6가동", "아파트_매매"] = aptSales["단위면적당금액"].median()
data.loc[data["행정동"] == "종로5.6가동", :]

,구,행정동,독거노인,연립다세대_매매,연립다세대_전월세,아파트_매매,아파트_전월세,단독다가구_매매,단독다가구_전월세
8,종로구,종로5.6가동,508,NaN,NaN,1162.334478,NaN,449.225455,115.322904

#### 전월세
- 전세 월세 따로 file이 들어올 것(먼저 concat을 해주자)

In [172]:
# Nan값 채울 월세 불러오기
apt_month = pd.read_csv("data/분석용_데이터/아파트_월세_결측치_forClustering(cp949).csv", encoding="cp949")
apt_month.head()

   단지[준공년도]     지번  자치구   행정동   계약일    단위면적당_전세                 지번주소
0  신영[2013]    538  중랑구  면목본동  1.26  960.938090    서울특별시 중랑구 면목동 538
1  한신[1987]  193-1  중랑구  면목2동  1.15  568.573524  서울특별시 중랑구 면목동 193-1
2  한신[1987]  193-1  중랑구  면목2동  1.15  513.568023  서울특별시 중랑구 면목동 193-1
3  한신[1987]  193-1  중랑구  면목2동  1.18  513.568023  서울특별시 중랑구 면목동 193-1
4  한신[1987]  193-1  중랑구  면목2동  2.21  568.573524  서울특별시 중랑구 면목동 193-1

In [173]:
apt_month = apt_month[["자치구", '행정동', "단위면적당_전세"]]
apt_month.columns = ["구", '행정동', "단위면적당_전세"]
apt_month.head()

     구   행정동    단위면적당_전세
0  중랑구  면목본동  960.938090
1  중랑구  면목2동  568.573524
2  중랑구  면목2동  513.568023
3  중랑구  면목2동  513.568023
4  중랑구  면목2동  568.573524

In [174]:
# Nan값 채울 전세 불러오기
apt_rent = pd.read_csv("data/분석용_데이터/아파트_전세_결측치_forClustering(cp949).csv", encoding="cp949")
apt_rent.head()

,단지[준공년도],지번,자치구,행정동,계약일,보증금,단위면적당_전세,지번주소
0,하이텍하우스[2011],36-1,종로구,종로5.6가동,4.05,10000.0,618.429190,서울특별시 종로구 연지동 36-1
1,하이텍하우스[2011],36-1,종로구,종로5.6가동,5.13,12000.0,571.428571,서울특별시 종로구 연지동 36-1
2,하이텍하우스[2011],36-1,종로구,종로5.6가동,8.13,10000.0,618.429190,서울특별시 종로구 연지동 36-1
3,하이텍하우스[2011],36-1,종로구,종로5.6가동,8.30,10000.0,476.190476,서울특별시 종로구 연지동 36-1
4,포레스트힐시티[2017],65-2,종로구,종로5.6가동,1.05,16500.0,880.469584,서울특별시 종로구 효제동 65-2

강남구
디에이치아너힐즈 강남구 개포2동
래미안 개포 루체하임 강남구 일원2동

'디에이치아너힐즈[2019]', '래미안 개포 루체하임[2018]'

양천구
목동파크자이 양천구 신정7동

노원구
불암신기 노원구 상계3동
불암신기 노원구 상계3동

In [175]:
apt_rent.loc[(apt_rent["자치구"] == "강남구") & (apt_rent["단지[준공년도]"] == '디에이치아너힐즈[2019]'), "행정동"] = "개포2동"
apt_rent.loc[(apt_rent["자치구"] == "강남구") & (apt_rent["단지[준공년도]"] == '래미안 개포 루체하임[2018]'), "행정동"] = "일원2동"

apt_rent.loc[(apt_rent["자치구"] == "양천구") & (apt_rent["행정동"] == "0"), "행정동"] = "신정7동"
apt_rent.loc[(apt_rent["자치구"] == "노원구") & (apt_rent["행정동"] == "0"), "행정동"] = "상계3동"

In [176]:
apt_rent = apt_rent[["자치구", '행정동', "단위면적당_전세"]]
apt_rent.columns = ["구", '행정동', "단위면적당_전세"]
apt_rent.head()

     구      행정동    단위면적당_전세
0  종로구  종로5.6가동  618.429190
1  종로구  종로5.6가동  571.428571
2  종로구  종로5.6가동  618.429190
3  종로구  종로5.6가동  476.190476
4  종로구  종로5.6가동  880.469584

In [177]:
# 전세, 월세 합쳐주기
print(apt_month.shape, apt_rent.shape)
apt_rent = pd.concat([apt_month, apt_rent], ignore_index=True)
apt_rent.shape

(320, 3) (27169, 3)

(27489, 3)

In [178]:
# nan값에 채울 월세 median 만들기
apt_rent_median = apt_rent.groupby(["구", "행정동"])[["단위면적당_전세"]].median()
apt_rent_median = apt_rent_median.reset_index()
apt_rent_median.head()

     구   행정동     단위면적당_전세
0  강남구  개포1동   648.929267
1  강남구  개포2동   901.186804
2  강남구  개포4동   550.206327
3  강남구  대치1동  1078.582435
4  강남구  대치2동   651.126449

In [179]:
len(data[data["아파트_전월세"].isnull()]["행정동"].unique())

20

In [180]:
count = 0
for k in data[data["아파트_전월세"].isnull()]["행정동"].unique():
    if k in apt_rent_median["행정동"].unique():
        count += 1
print(count)

16

In [181]:
# 구, 행정동에 맞춰서 nan값 채우기
for gu, dong in data[data["아파트_전월세"].isnull()][["구", "행정동"]].values:
    value = apt_rent_median[(apt_rent_median["구"] == gu) & (apt_rent_median["행정동"] == dong)]["단위면적당_전세"].values
    if len(value) != 0:
        data.loc[(data["구"] == gu)&(data["행정동"] == dong), "아파트_전월세"] = value[0]

In [182]:
len(data[data["아파트_전월세"].isnull()]["행정동"].unique())

4

#### nan값에 0넣고 저장

In [184]:
data = data.fillna(0)
data.head()

,구,행정동,독거노인,연립다세대_매매,연립다세대_전월세,아파트_매매,아파트_전월세,단독다가구_매매,단독다가구_전월세,합계
0,종로구,사직동,439,658.951346,414.007713,1002.930454,479.008604,893.404747,385.713580,0
1,종로구,삼청동,167,441.153301,330.288235,0.000000,342.779517,748.753412,330.271380,1
2,종로구,부암동,346,508.474576,336.686423,504.896994,339.217722,444.702516,309.176750,0
3,종로구,평창동,640,546.834313,373.015873,633.650158,323.635888,417.301825,277.961668,0
4,종로구,무악동,265,652.413624,366.351374,1065.000000,279.069767,670.076330,267.441860,0

In [185]:
data.drop('합계', axis = 1)

,구,행정동,독거노인,연립다세대_매매,연립다세대_전월세,아파트_매매,아파트_전월세,단독다가구_매매,단독다가구_전월세
0,종로구,사직동,439,658.951346,414.007713,1002.930454,479.008604,893.404747,385.713580
1,종로구,삼청동,167,441.153301,330.288235,0.000000,342.779517,748.753412,330.271380
2,종로구,부암동,346,508.474576,336.686423,504.896994,339.217722,444.702516,309.176750
3,종로구,평창동,640,546.834313,373.015873,633.650158,323.635888,417.301825,277.961668
4,종로구,무악동,265,652.413624,366.351374,1065.000000,279.069767,670.076330,267.441860
...,...,...,...,...,...,...,...,...,...
419,강동구,둔촌1동,3,0.000000,611.951044,1721.018693,0.000000,0.000000,0.000000
420,강동구,둔촌2동,775,608.600082,571.428571,918.503674,354.991749,736.368239,269.698206
421,강동구,암사1동,1304,591.387373,505.858586,993.233304,277.585010,665.488851,218.750000
422,강동구,천호2동,1538,749.667111,640.345982,852.130326,325.000000,664.696223,259.698206
423,강동구,길동,1455,625.642482,555.065837,784.244354,334.904490,814.516129,272.424579

In [186]:
data.drop('합계', axis = 1).to_csv("data/분석용_데이터/clustering_final(cp949).csv", encoding = "cp949", index = False)

# The End~

In [26]:
### Nan에 대한 데이터
nan_data = pd.read_excel("data/부동산/주택가격Nan값데이터.xlsx")
nan_data

       구          행정동   주택형태 거래형태 매물 유무 여부  표준공시지가(원/m2)
0    종로구          삼청동    아파트   매매       없음           NaN
1    종로구          가회동    아파트   매매       없음           NaN
2    종로구  종로1.2.3.4가동  연립다세대   매매       있음           NaN
3    종로구      종로5·6가동  연립다세대   매매       없음           NaN
4    종로구      종로5·6가동  연립다세대  전월세       없음           NaN
..   ...          ...    ...  ...      ...           ...
151  강동구         둔촌1동  연립다세대   매매       있음           NaN
152  강동구         둔촌1동  연립다세대  전월세       있음           NaN
153  강동구         둔촌1동    아파트  전월세       있음           NaN
154  강동구         둔촌1동  단독다가구   매매       있음           NaN
155  강동구         둔촌1동  단독다가구  전월세       있음           NaN

[156 rows x 6 columns]

In [27]:
# 2. 실제 매물이 없는 경우
## 매출 유무 여부 -> 없음
nan_data_real0 = nan_data[nan_data["매물 유무 여부"] == "없음"]
nan_data_real0.head()

     구      행정동   주택형태 거래형태 매물 유무 여부  표준공시지가(원/m2)
0  종로구      삼청동    아파트   매매       없음           NaN
1  종로구      가회동    아파트   매매       없음           NaN
3  종로구  종로5·6가동  연립다세대   매매       없음           NaN
4  종로구  종로5·6가동  연립다세대  전월세       없음           NaN
9   중구      소공동  연립다세대   매매       없음           NaN

In [28]:
for row in nan_data_real0.values:
    column_name = row[2] + "_" + row[3]
    data.loc[(data["구"] == row[0]) & (data["행정동"] == row[1]), column_name] = 0

data

,구,행정동,독거노인_취약계층,연립다세대_매매,연립다세대_전월세,아파트_매매,아파트_전월세,단독다가구_매매,단독다가구_전월세
0,종로구,사직동,0.179954,658.951346,414.007713,1002.930454,479.008604,893.404747,385.713580
1,종로구,삼청동,0.107784,441.153301,330.288235,0.000000,342.779517,748.753412,330.271380
2,종로구,부암동,0.141618,508.474576,336.686423,504.896994,339.217722,444.702516,309.176750
3,종로구,평창동,0.110937,546.834313,373.015873,633.650158,323.635888,417.301825,277.961668
4,종로구,무악동,0.279245,652.413624,366.351374,1065.000000,279.069767,670.076330,267.441860
...,...,...,...,...,...,...,...,...,...
419,강동구,둔촌1동,0.000000,NaN,NaN,1721.018693,NaN,NaN,NaN
420,강동구,둔촌2동,0.250323,608.600082,571.428571,918.503674,354.991749,736.368239,269.698206
421,강동구,암사1동,0.314417,591.387373,505.858586,993.233304,277.585010,665.488851,218.750000
422,강동구,천호2동,0.351105,749.667111,640.345982,852.130326,325.000000,664.696223,259.698206
423,강동구,길동,0.234364,625.642482,555.065837,784.244354,334.904490,814.516129,272.424579

## 처리 한 데이터 불러오기

# Outlier 제거하기

- 가장 보편적인 방법인 IQR을 이용하여 outlier 제거

In [45]:
# outlier의 index를 반환하는 함수
def find_outlier(df, column_name):
    # 1분위수
    Q1 = df[column_name].quantile(0.25)
    # 3분위수
    Q3 = df[column_name].quantile(0.75)
    # Interquartile range(IQR)
    IQR = Q3 - Q1
    
    # IQR을 이용한 최대, 최소
    minimum = Q1 - 1.5 * IQR
    maximum = Q3 + 1.5 * IQR
    
    # outlier인 dataframe
    outlier_df = df[(df[column_name]>maximum) | (df[column_name]<minimum)]
    
    # outlier인 index 반환
    return outlier_df.index

In [6]:
outlier_num = 0     # outlier세기 위한 변수

for dong in data["행정동"].unique():
    df = data[data["행정동"] == dong]
    
    outlier_index = find_outlier(df, "단위면적당금액")
    outlier_num += len(outlier_index)
    print(dong, "의 outlier : ", outlier_index)
    
    data.drop(outlier_index, axis = 0, inplace = True)

개포4동 의 outlier :  Int64Index([], dtype='int64')
개포2동 의 outlier :  Int64Index([118], dtype='int64')
논현1동 의 outlier :  Int64Index([352], dtype='int64')
논현2동 의 outlier :  Int64Index([230], dtype='int64')
대치4동 의 outlier :  Int64Index([], dtype='int64')
대치2동 의 outlier :  Int64Index([], dtype='int64')

C:\Users\93564\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

대치1동 의 outlier :  Int64Index([], dtype='int64')
도곡1동 의 outlier :  Int64Index([], dtype='int64')
도곡2동 의 outlier :  Int64Index([460], dtype='int64')
삼성2동 의 outlier :  Int64Index([], dtype='int64')
삼성1동 의 outlier :  Int64Index([504], dtype='int64')
세곡동 의 outlier :  Int64Index([], dtype='int64')
신사동 의 outlier :  Int64Index([], dtype='int64')
압구정동 의 outlier :  Int64Index([559, 577, 582, 585], dtype='int64')
역삼1동 의 outlier :  Int64Index([], dtype='int64')
역삼2동 의 outlier :  Int64Index([842, 859], dtype='int64')
일원1동 의 outlier :  Int64Index([936, 940, 973, 974, 975, 976], dtype='int64')
일원본동 의 outlier :  Int64Index([], dtype='int64')
청담동 의 outlier :  Int64Index([], dtype='int64')
고덕2동 의 outlier :  Int64Index([], dtype='int64')
고덕1동 의 outlier :  Int64Index([], dtype='int64')
길동 의 outlier :  Int64Index([1097, 1099], dtype='int64')
둔촌2동 의 outlier :  Int64Index([1337], dtype='int64')
명일1동 의 outlier :  Int64Index([], dtype='int64')
천호2동 의 outlier :  Int64Index([2220, 2765], dtype='int64')
명일2동 의 outlier :  Int64Index([], dtype='int64')
상일동 의 outlier :  Int64Index([], dtype='int64')
성내2동 의 outlier :  Int64Index([1546, 1555, 1653, 1792, 1794, 1798, 1799], dtype='int64')
성내3동 의 outlier :  Int64Index([], dtype='int64')
성내1동 의 outlier :  Int64Index([], dtype='int64')
암사1동 의 outlier :  Int64Index([2022, 2034], dtype='int64')
암사3동 의 outlier :  Int64Index([1919], dtype='int64')
암사2동 의 outlier :  Int64Index([1846, 1847, 1851, 1925, 1957, 2056], dtype='int64')
천호3동 의 outlier :  Int64Index([2117, 2506, 2922, 2924, 2925], dtype='int64')
천호1동 의 outlier :  Int64Index([], dtype='int64')
송천동 의 outlier :  Int64Index([3021, 3203], dtype='int64')
송중동 의 outlier :  Int64Index([3643, 3657], dtype='int64')
삼각산동 의 outlier :  Int64Index([2967], dtype='int64')
미아동 의 outlier :  Int64Index([3050, 3098, 3149, 3188, 3214, 3331, 3333], dtype='int64')
삼양동 의 outlier :  Int64Index([3036, 3043, 3126, 3133, 3139, 3140, 3297, 3369, 3416, 3630], dtype='int64')
번2동 의 outlier :  Int64Index([3663, 3690, 3714, 3719, 3796, 3797, 3803, 3821, 3843, 3845, 3846,
            3852, 3867],
           dtype='int64')
번1동 의 outlier :  Int64Index([3756], dtype='int64')
번3동 의 outlier :  Int64Index([], dtype='int64')
수유3동 의 outlier :  Int64Index([3991, 3992, 4030, 4031, 4379], dtype='int64')
수유2동 의 outlier :  Int64Index([], dtype='int64')
인수동 의 outlier :  Int64Index([3910, 4631], dtype='int64')
수유1동 의 outlier :  Int64Index([3917, 4062, 4141, 4158], dtype='int64')
우이동 의 outlier :  Int64Index([4889], dtype='int64')
가양1동 의 outlier :  Int64Index([5599, 5604, 5606], dtype='int64')
공항동 의 outlier :  Int64Index([], dtype='int64')
발산1동 의 outlier :  Int64Index([5080, 5175, 5176, 5177, 5178], dtype='int64')
우장산동 의 outlier :  Int64Index([5229], dtype='int64')
등촌2동 의 outlier :  Int64Index([5358], dtype='int64')
등촌1동 의 outlier :  Int64Index([5268, 5307, 5308, 5309, 5310, 5311], dtype='int64')
등촌3동 의 outlier :  Int64Index([], dtype='int64')
방화3동 의 outlier :  Int64Index([], dtype='int64')
방화2동 의 outlier :  Int64Index([5658, 5705, 5881], dtype='int64')
방화1동 의 outlier :  Int64Index([], dtype='int64')
염창동 의 outlier :  Int64Index([], dtype='int64')
화곡본동 의 outlier :  Int64Index([6048, 6053, 6289, 6361, 6559, 6697, 6698, 6759, 6837, 6849, 6850,
            6858, 6864, 6865, 6873, 6916, 7212, 7242, 7433, 7470, 7593, 7630,
            7685, 7686, 7687, 7688, 7722, 7759, 8422, 8435, 8436, 8437, 8438,
            8439, 8440, 8441, 8442, 8443, 8444, 8445, 8446, 8447, 8558],
           dtype='int64')
화곡3동 의 outlier :  Int64Index([], dtype='int64')
화곡1동 의 outlier :  Int64Index([7000, 7073, 7565], dtype='int64')
화곡8동 의 outlier :  Int64Index([6117, 6118, 6120, 6121, 6122, 6123, 6124, 6125, 6126, 6127, 6128,
            6129, 6715, 6719, 6720, 7729, 8354, 8484, 8666, 8667],
           dtype='int64')
화곡2동 의 outlier :  Int64Index([], dtype='int64')
화곡6동 의 outlier :  Int64Index([6751], dtype='int64')
화곡4동 의 outlier :  Int64Index([], dtype='int64')
남현동 의 outlier :  Int64Index([8857], dtype='int64')
청림동 의 outlier :  Int64Index([], dtype='int64')
행운동 의 outlier :  Int64Index([9105, 9256, 9538, 9613], dtype='int64')
성현동 의 outlier :  Int64Index([9004, 9005, 9008, 9505, 9506, 9705, 9799], dtype='int64')
보라매동 의 outlier :  Int64Index([9040, 9129, 9132, 9243, 9244, 9446, 9447], dtype='int64')
중앙동 의 outlier :  Int64Index([], dtype='int64')
청룡동 의 outlier :  Int64Index([], dtype='int64')
낙성대동 의 outlier :  Int64Index([8962, 8963, 9042, 9310, 9696], dtype='int64')
인헌동 의 outlier :  Int64Index([8993, 8994, 9055, 9091, 9261, 9288, 9489, 9490, 9491, 9514, 9789], dtype='int64')
은천동 의 outlier :  Int64Index([9045, 9391, 9689], dtype='int64')
서원동 의 outlier :  Int64Index([10480, 10769, 10770, 10771, 10772, 10773, 10775, 10779, 10780,
            10781, 10782, 10784, 10785, 10786, 10787],
           dtype='int64')
서림동 의 outlier :  Int64Index([10066], dtype='int64')
삼성동 의 outlier :  Int64Index([9856, 10195], dtype='int64')
신원동 의 outlier :  Int64Index([9836, 10181, 10182, 10183, 10349, 10373, 10477, 10741, 10886], dtype='int64')
대학동 의 outlier :  Int64Index([], dtype='int64')
난곡동 의 outlier :  Int64Index([], dtype='int64')
조원동 의 outlier :  Int64Index([10199, 10200, 10376, 10377, 10861], dtype='int64')
난향동 의 outlier :  Int64Index([], dtype='int64')
미성동 의 outlier :  Int64Index([], dtype='int64')
신림동 의 outlier :  Int64Index([], dtype='int64')
광장동 의 outlier :  Int64Index([10916, 10917], dtype='int64')
구의3동 의 outlier :  Int64Index([11355], dtype='int64')
구의1동 의 outlier :  Int64Index([11062, 11219], dtype='int64')
구의2동 의 outlier :  Int64Index([10977, 10978, 11271], dtype='int64')
군자동 의 outlier :  Int64Index([11443], dtype='int64')
능동 의 outlier :  Int64Index([], dtype='int64')
자양4동 의 outlier :  Int64Index([11544, 11820, 11875, 12038], dtype='int64')
자양1동 의 outlier :  Int64Index([11837], dtype='int64')
자양3동 의 outlier :  Int64Index([11600, 11601, 11602, 11603, 11604, 11605, 11694, 11788, 11798,
            11808, 11880, 11906, 12003, 12043, 12055, 12087],
           dtype='int64')
자양2동 의 outlier :  Int64Index([11709, 11710, 11790, 11791, 11792, 11793, 11981], dtype='int64')
중곡4동 의 outlier :  Int64Index([12199, 12200, 12201, 12202, 12203], dtype='int64')
중곡2동 의 outlier :  Int64Index([12289, 12290, 12371, 12381, 12413], dtype='int64')
중곡1동 의 outlier :  Int64Index([12180, 12181, 12182], dtype='int64')
중곡3동 의 outlier :  Int64Index([], dtype='int64')
화양동 의 outlier :  Int64Index([12528], dtype='int64')
가리봉동 의 outlier :  Int64Index([12533, 12534, 12535, 12536, 12537, 12538, 12539, 12540, 12541,
            12545, 12546, 12547, 12548, 12549, 12550, 12551, 12552, 12553,
            12554, 12555, 12577, 12578, 12615, 12616, 12617, 12618, 12621,
            12622, 12623],
           dtype='int64')
개봉2동 의 outlier :  Int64Index([12635, 12727, 12894, 13024, 13140, 13217], dtype='int64')
개봉3동 의 outlier :  Int64Index([], dtype='int64')
개봉1동 의 outlier :  Int64Index([12685, 12777, 12938, 13070, 13184], dtype='int64')
고척2동 의 outlier :  Int64Index([], dtype='int64')
고척1동 의 outlier :  Int64Index([], dtype='int64')
구로5동 의 outlier :  Int64Index([], dtype='int64')
구로3동 의 outlier :  Int64Index([13530, 13695, 13699, 13700, 13701], dtype='int64')
구로2동 의 outlier :  Int64Index([], dtype='int64')
구로4동 의 outlier :  Int64Index([13476, 13485, 13508, 13554], dtype='int64')
구로1동 의 outlier :  Int64Index([13712, 13729, 13730], dtype='int64')
수궁동 의 outlier :  Int64Index([14394, 14395, 14396, 14397, 14398, 14399], dtype='int64')
신도림동 의 outlier :  Int64Index([14058], dtype='int64')
오류2동 의 outlier :  Int64Index([14261], dtype='int64')
오류1동 의 outlier :  Int64Index([], dtype='int64')
항동 의 outlier :  Int64Index([14474], dtype='int64')
가산동 의 outlier :  Int64Index([14545, 14550, 14551, 14552, 14597], dtype='int64')
독산2동 의 outlier :  Int64Index([], dtype='int64')
독산4동 의 outlier :  Int64Index([], dtype='int64')
독산3동 의 outlier :  Int64Index([], dtype='int64')
독산1동 의 outlier :  Int64Index([], dtype='int64')
시흥4동 의 outlier :  Int64Index([15728], dtype='int64')
시흥5동 의 outlier :  Int64Index([15215, 15229, 15278, 15279, 15295, 15322, 15328, 15332, 15341,
            15344, 15402, 15403, 15409, 15413, 15414, 15415, 15428, 15438,
            15451, 15457, 15458, 15460, 15461, 15463, 15479, 15487, 15488,
            15489, 15502, 15651, 15653, 15669, 15678, 15710, 15711, 15737,
            15738, 15739, 15740, 15768, 15769, 15776, 15780, 15828, 15939,
            15940, 15941, 15946, 15947, 15949, 15950, 15951, 15954, 15957,
            15966, 16003, 16004, 16009, 16037, 16038, 16066],
           dtype='int64')
시흥1동 의 outlier :  Int64Index([], dtype='int64')
시흥3동 의 outlier :  Int64Index([16033, 16035], dtype='int64')

시흥2동 의 outlier :  Int64Index([15303, 15304, 15521, 15535, 15536, 15537, 15538, 15539, 15540], dtype='int64')
공릉2동 의 outlier :  Int64Index([16124, 16171], dtype='int64')
공릉1동 의 outlier :  Int64Index([], dtype='int64')
상계1동 의 outlier :  Int64Index([16388, 16396, 16429, 16432, 16476, 16478, 16497, 16524, 16532,
            16563, 16564, 16622, 16638, 16639, 16640, 16641, 16659, 16660,
            16693, 16694, 16758, 16790, 16794, 16799, 16800, 16801, 16805,
            16844, 16917, 16925, 16926, 16959],
           dtype='int64')
상계3.4동 의 outlier :  Int64Index([16747, 16748, 16806, 16842, 16843], dtype='int64')
상계5동 의 outlier :  Int64Index([], dtype='int64')
상계2동 의 outlier :  Int64Index([16406], dtype='int64')
상계10동 의 outlier :  Int64Index([], dtype='int64')
월계3동 의 outlier :  Int64Index([], dtype='int64')
월계2동 의 outlier :  Int64Index([17065], dtype='int64')
월계1동 의 outlier :  Int64Index([17041, 17042], dtype='int64')
중계본동 의 outlier :  Int64Index([17092, 17107, 17115, 17116, 17124, 17150, 17151], dtype='int64')
중계4동 의 outlier :  Int64Index([], dtype='int64')
하계1동 의 outlier :  Int64Index([17175], dtype='int64')
도봉1동 의 outlier :  Int64Index([17248], dtype='int64')
도봉2동 의 outlier :  Int64Index([], dtype='int64')
방학2동 의 outlier :  Int64Index([17465, 17470, 17487, 17519, 17685], dtype='int64')
방학1동 의 outlier :  Int64Index([], dtype='int64')
방학3동 의 outlier :  Int64Index([], dtype='int64')
쌍문4동 의 outlier :  Int64Index([], dtype='int64')
쌍문1동 의 outlier :  Int64Index([17786, 17787, 17788, 17792, 17892, 18156], dtype='int64')
쌍문3동 의 outlier :  Int64Index([], dtype='int64')
쌍문2동 의 outlier :  Int64Index([], dtype='int64')
창5동 의 outlier :  Int64Index([18185, 18187, 18270, 18271, 18272, 18273, 18407, 18411, 18511,
            18560, 18622],
           dtype='int64')
창3동 의 outlier :  Int64Index([18602, 18624, 18625], dtype='int64')
창2동 의 outlier :  Int64Index([18253, 18390, 18395, 18396, 18397, 18398, 18399, 18400, 18401,
            18402, 18601, 18618],
           dtype='int64')
창1동 의 outlier :  Int64Index([], dtype='int64')
답십리1동 의 outlier :  Int64Index([], dtype='int64')
답십리2동 의 outlier :  Int64Index([], dtype='int64')
용신동 의 outlier :  Int64Index([], dtype='int64')
이문1동 의 outlier :  Int64Index([18744, 18757, 18777, 18795, 18807, 18816], dtype='int64')
이문2동 의 outlier :  Int64Index([], dtype='int64')
장안2동 의 outlier :  Int64Index([18937, 18939, 19021, 19022, 19046, 19095, 19096, 19104, 19105,
            19106, 19187, 19188, 19251, 19252, 19253, 19256, 19270, 19271,
            19272, 19286, 19287, 19391, 19395, 19396, 19397, 19398, 19430],
           dtype='int64')
장안1동 의 outlier :  Int64Index([19017, 19023, 19057, 19098, 19249, 19250, 19275, 19359, 19372,
            19379, 19393, 19394, 19423],
           dtype='int64')
제기동 의 outlier :  Int64Index([], dtype='int64')
전농1동 의 outlier :  Int64Index([19486, 19522, 19545], dtype='int64')
전농2동 의 outlier :  Int64Index([19462, 19463, 19498], dtype='int64')
청량리동 의 outlier :  Int64Index([], dtype='int64')
회기동 의 outlier :  Int64Index([], dtype='int64')
휘경1동 의 outlier :  Int64Index([], dtype='int64')
휘경2동 의 outlier :  Int64Index([], dtype='int64')
노량진2동 의 outlier :  Int64Index([19811], dtype='int64')
노량진1동 의 outlier :  Int64Index([], dtype='int64')
대방동 의 outlier :  Int64Index([19984], dtype='int64')
사당2동 의 outlier :  Int64Index([20120, 20123], dtype='int64')
사당1동 의 outlier :  Int64Index([20145, 20160, 20166, 20174], dtype='int64')
사당3동 의 outlier :  Int64Index([], dtype='int64')
사당5동 의 outlier :  Int64Index([20125], dtype='int64')
사당4동 의 outlier :  Int64Index([20151], dtype='int64')
상도1동 의 outlier :  Int64Index([20521, 21195], dtype='int64')
상도2동 의 outlier :  Int64Index([20605, 20606, 20607, 20608, 20609, 20610, 20611, 20612, 20613,
            20614, 20615, 20662, 20663, 20664, 20665, 20666],
           dtype='int64')
상도4동 의 outlier :  Int64Index([20704, 20805, 20946], dtype='int64')
상도3동 의 outlier :  Int64Index([20870, 21038], dtype='int64')
신대방2동 의 outlier :  Int64Index([], dtype='int64')
신대방1동 의 outlier :  Int64Index([21214, 21216, 21217, 21218, 21219, 21220, 21221, 21222, 21233,
            21234, 21239, 21240, 21241, 21242, 21243, 21250, 21263, 21264,
            21265, 21266, 21276, 21277, 21335, 21339, 21340, 21341, 21342,
            21343, 21346, 21354, 21355],
           dtype='int64')
흑석동 의 outlier :  Int64Index([], dtype='int64')
공덕동 의 outlier :  Int64Index([21423, 21439, 21442, 21452, 22616, 22651], dtype='int64')
신수동 의 outlier :  Int64Index([22537], dtype='int64')
대흥동 의 outlier :  Int64Index([], dtype='int64')
서강동 의 outlier :  Int64Index([21482, 22856, 22857, 22858, 22859, 22860, 22861], dtype='int64')
용강동 의 outlier :  Int64Index([], dtype='int64')
도화동 의 outlier :  Int64Index([], dtype='int64')
서교동 의 outlier :  Int64Index([], dtype='int64')
망원1동 의 outlier :  Int64Index([21707, 21728, 21729, 21730, 21731, 21732, 21733, 21742, 21745,
            21746, 21823, 21824, 21876, 21877, 21878, 21879, 22068],
           dtype='int64')
망원2동 의 outlier :  Int64Index([21822], dtype='int64')
상암동 의 outlier :  Int64Index([], dtype='int64')
성산1동 의 outlier :  Int64Index([22448], dtype='int64')
성산2동 의 outlier :  Int64Index([], dtype='int64')
연남동 의 outlier :  Int64Index([22695, 22696, 22697], dtype='int64')
아현동 의 outlier :  Int64Index([22570, 22657], dtype='int64')
염리동 의 outlier :  Int64Index([], dtype='int64')
합정동 의 outlier :  Int64Index([23140, 23141, 23142, 23143, 23145, 23146, 23147, 23148, 23149,
            23150, 23151, 23153],
           dtype='int64')
남가좌1동 의 outlier :  Int64Index([23220, 23221], dtype='int64')
남가좌2동 의 outlier :  Int64Index([], dtype='int64')
충현동 의 outlier :  Int64Index([23989, 23996, 23997, 23998, 24014, 24015, 24019], dtype='int64')
천연동 의 outlier :  Int64Index([23938], dtype='int64')
신촌동 의 outlier :  Int64Index([], dtype='int64')
북가좌2동 의 outlier :  Int64Index([23294, 23296, 23298, 23300, 23304, 23634, 23664], dtype='int64')
북가좌1동 의 outlier :  Int64Index([23496], dtype='int64')
북아현동 의 outlier :  Int64Index([23684, 23689, 23729], dtype='int64')
연희동 의 outlier :  Int64Index([23808, 23809, 23810, 23907], dtype='int64')
홍은1동 의 outlier :  Int64Index([], dtype='int64')
홍은2동 의 outlier :  Int64Index([], dtype='int64')
홍제2동 의 outlier :  Int64Index([], dtype='int64')
홍제1동 의 outlier :  Int64Index([24440, 24442, 24443, 24444, 24445], dtype='int64')
홍제3동 의 outlier :  Int64Index([24501, 24504], dtype='int64')
반포4동 의 outlier :  Int64Index([24658], dtype='int64')
반포1동 의 outlier :  Int64Index([24676, 24686, 24692, 24716], dtype='int64')
방배본동 의 outlier :  Int64Index([25013, 25014, 25015], dtype='int64')
방배1동 의 outlier :  Int64Index([24913], dtype='int64')
방배2동 의 outlier :  Int64Index([24897, 24965, 24979, 25079, 25086, 25089, 25126, 25267], dtype='int64')
방배3동 의 outlier :  Int64Index([], dtype='int64')
방배4동 의 outlier :  Int64Index([24858, 24859, 24870, 25032, 25090, 25091, 25205, 25256, 25269,
            25300],
           dtype='int64')
서초2동 의 outlier :  Int64Index([25400], dtype='int64')
서초1동 의 outlier :  Int64Index([], dtype='int64')
서초3동 의 outlier :  Int64Index([25463, 25495], dtype='int64')
서초4동 의 outlier :  Int64Index([], dtype='int64')
내곡동 의 outlier :  Int64Index([], dtype='int64')
양재1동 의 outlier :  Int64Index([25640], dtype='int64')
양재2동 의 outlier :  Int64Index([25719, 25740, 25741, 25751, 25829], dtype='int64')
잠원동 의 outlier :  Int64Index([], dtype='int64')
금호1가동 의 outlier :  Int64Index([25929], dtype='int64')
금호2.3가동 의 outlier :  Int64Index([25984, 25987], dtype='int64')
금호4가동 의 outlier :  Int64Index([], dtype='int64')
왕십리도선동 의 outlier :  Int64Index([26393, 26395], dtype='int64')
마장동 의 outlier :  Int64Index([26054, 26055, 26069, 26074, 26075, 26077, 26078, 26079, 26081], dtype='int64')
사근동 의 outlier :  Int64Index([26088], dtype='int64')
성수1가1동 의 outlier :  Int64Index([26091, 26093, 26094, 26095], dtype='int64')
성수1가2동 의 outlier :  Int64Index([26104], dtype='int64')
성수2가3동 의 outlier :  Int64Index([], dtype='int64')
성수2가1동 의 outlier :  Int64Index([26202], dtype='int64')
송정동 의 outlier :  Int64Index([], dtype='int64')
옥수동 의 outlier :  Int64Index([], dtype='int64')
용답동 의 outlier :  Int64Index([], dtype='int64')
응봉동 의 outlier :  Int64Index([26304, 26305, 26308, 26309, 26311], dtype='int64')
왕십리2동 의 outlier :  Int64Index([], dtype='int64')
행당1동 의 outlier :  Int64Index([26333], dtype='int64')
행당2동 의 outlier :  Int64Index([], dtype='int64')
길음2동 의 outlier :  Int64Index([], dtype='int64')
길음1동 의 outlier :  Int64Index([26413], dtype='int64')
돈암1동 의 outlier :  Int64Index([26445, 26446], dtype='int64')

동선동 의 outlier :  Int64Index([], dtype='int64')
돈암2동 의 outlier :  Int64Index([], dtype='int64')
성북동 의 outlier :  Int64Index([26869, 26882, 26896, 26897, 26899, 26913, 26931, 26932, 26939,
            26955, 26956, 26957, 26958, 26959, 26961, 26962, 26980, 26981,
            26982, 26986],
           dtype='int64')
보문동 의 outlier :  Int64Index([26535], dtype='int64')
삼선동 의 outlier :  Int64Index([], dtype='int64')
월곡2동 의 outlier :  Int64Index([26672, 26675, 26676, 26677, 26678, 26680, 26711, 26712, 26713,
            28564, 28565, 28568, 28581, 28582, 28583, 28584, 28585, 28600],
           dtype='int64')
석관동 의 outlier :  Int64Index([26824, 26836, 26838, 26839, 26849, 26850], dtype='int64')
안암동 의 outlier :  Int64Index([27028], dtype='int64')
장위1동 의 outlier :  Int64Index([27074, 27075, 27090, 27191, 27201, 27202, 27484, 27835], dtype='int64')
장위2동 의 outlier :  Int64Index([27258, 27779, 27831], dtype='int64')
장위3동 의 outlier :  Int64Index([27217, 27315, 27317, 27318, 27499, 27500, 27556, 27721, 27722,
            27787, 27870, 27967],
           dtype='int64')
정릉2동 의 outlier :  Int64Index([], dtype='int64')
정릉1동 의 outlier :  Int64Index([], dtype='int64')
정릉4동 의 outlier :  Int64Index([28089, 28167, 28168, 28344, 28345, 28381, 28382], dtype='int64')
정릉3동 의 outlier :  Int64Index([], dtype='int64')
종암동 의 outlier :  Int64Index([], dtype='int64')
월곡1동 의 outlier :  Int64Index([], dtype='int64')
가락본동 의 outlier :  Int64Index([28733, 28799, 28800, 28801, 28802], dtype='int64')
가락2동 의 outlier :  Int64Index([28636, 28646, 28694, 28696], dtype='int64')
거여1동 의 outlier :  Int64Index([28878, 28879, 28982, 28983], dtype='int64')
거여2동 의 outlier :  Int64Index([], dtype='int64')
위례동 의 outlier :  Int64Index([], dtype='int64')
마천2동 의 outlier :  Int64Index([], dtype='int64')
마천1동 의 outlier :  Int64Index([], dtype='int64')
문정1동 의 outlier :  Int64Index([29311, 29312, 29363], dtype='int64')
장지동 의 outlier :  Int64Index([29419, 29460, 29466], dtype='int64')
방이2동 의 outlier :  Int64Index([29585, 29586, 29597, 29630, 29689], dtype='int64')
방이1동 의 outlier :  Int64Index([29619, 29713, 29715], dtype='int64')
삼전동 의 outlier :  Int64Index([29886, 29887, 29933, 29940, 29941, 29981, 29982, 29983, 29984,
            29985, 30044, 30045, 30046, 30047, 30048, 30049, 30050, 30051,
            30052, 30053, 30087],
           dtype='int64')
석촌동 의 outlier :  Int64Index([30221, 30222, 30223, 30259, 30260, 30263], dtype='int64')
송파2동 의 outlier :  Int64Index([30317, 30318, 30319, 30320, 30321, 30322, 30323, 30324, 30325,
            30329, 30330, 30372, 30564, 30565],
           dtype='int64')
송파1동 의 outlier :  Int64Index([], dtype='int64')
오금동 의 outlier :  Int64Index([30639, 30656, 30754, 30757, 30790, 30792, 30794, 30800], dtype='int64')
잠실본동 의 outlier :  Int64Index([30956, 30958, 30960], dtype='int64')
풍납1동 의 outlier :  Int64Index([], dtype='int64')
풍납2동 의 outlier :  Int64Index([31046], dtype='int64')
목3동 의 outlier :  Int64Index([31124, 31815, 31816], dtype='int64')
목2동 의 outlier :  Int64Index([31376, 31379, 31385, 31386, 31387, 31388, 31389, 31390, 31391,
            31392],
           dtype='int64')
목4동 의 outlier :  Int64Index([31196], dtype='int64')
목1동 의 outlier :  Int64Index([], dtype='int64')
신월1동 의 outlier :  Int64Index([], dtype='int64')
신월4동 의 outlier :  Int64Index([], dtype='int64')
신월2동 의 outlier :  Int64Index([32471, 32472], dtype='int64')
신월7동 의 outlier :  Int64Index([32613, 32614, 32722, 32723, 32724, 32725, 32726, 32727, 32728,
            32729, 32730, 32731, 32732, 32733, 32734, 32735, 32736, 32737,
            32738, 32739, 32740, 32741, 32742, 32743, 32744, 32745, 32746,
            32747, 32748, 32749, 32750, 32751, 32752, 32753, 32754, 32755,
            32756, 32757, 32758, 32759, 32922, 32923],
           dtype='int64')
신월5동 의 outlier :  Int64Index([], dtype='int64')
신월3동 의 outlier :  Int64Index([32544], dtype='int64')
신월6동 의 outlier :  Int64Index([32188], dtype='int64')
신정4동 의 outlier :  Int64Index([], dtype='int64')
신정1동 의 outlier :  Int64Index([33297], dtype='int64')
신정3동 의 outlier :  Int64Index([33011, 33087, 33101, 33181], dtype='int64')
신정2동 의 outlier :  Int64Index([], dtype='int64')
신정7동 의 outlier :  Int64Index([33177], dtype='int64')
당산2동 의 outlier :  Int64Index([], dtype='int64')
당산1동 의 outlier :  Int64Index([], dtype='int64')
대림2동 의 outlier :  Int64Index([33608, 33688, 33689, 33710, 33711, 33713, 33723, 33733], dtype='int64')
대림3동 의 outlier :  Int64Index([], dtype='int64')
대림1동 의 outlier :  Int64Index([], dtype='int64')
도림동 의 outlier :  Int64Index([33776, 33777, 33788, 33812, 33813, 33822, 33823, 33824], dtype='int64')
문래동 의 outlier :  Int64Index([33825], dtype='int64')
신길1동 의 outlier :  Int64Index([], dtype='int64')
신길4동 의 outlier :  Int64Index([], dtype='int64')
영등포본동 의 outlier :  Int64Index([33931, 34037], dtype='int64')
신길3동 의 outlier :  Int64Index([], dtype='int64')
신길5동 의 outlier :  Int64Index([33853], dtype='int64')
신길6동 의 outlier :  Int64Index([], dtype='int64')
신길7동 의 outlier :  Int64Index([], dtype='int64')
양평1동 의 outlier :  Int64Index([], dtype='int64')
양평2동 의 outlier :  Int64Index([34129, 34152], dtype='int64')
영등포동 의 outlier :  Int64Index([], dtype='int64')
남영동 의 outlier :  Int64Index([], dtype='int64')
서빙고동 의 outlier :  Int64Index([34446], dtype='int64')
원효로1동 의 outlier :  Int64Index([], dtype='int64')
보광동 의 outlier :  Int64Index([34502, 34507], dtype='int64')
청파동 의 outlier :  Int64Index([34532, 34558, 34593, 35041, 35066, 35067, 35072, 35073, 35109,
            35203, 35207, 35228, 35236],
           dtype='int64')
원효로2동 의 outlier :  Int64Index([], dtype='int64')
용문동 의 outlier :  Int64Index([34732], dtype='int64')
용산2가동 의 outlier :  Int64Index([34817, 34818], dtype='int64')
후암동 의 outlier :  Int64Index([35626, 35695], dtype='int64')
한강로동 의 outlier :  Int64Index([35258, 35259, 35278, 35280], dtype='int64')
이촌2동 의 outlier :  Int64Index([], dtype='int64')
이태원1동 의 outlier :  Int64Index([34940], dtype='int64')
이태원2동 의 outlier :  Int64Index([34951], dtype='int64')
한남동 의 outlier :  Int64Index([35285, 35291, 35294, 35296, 35306, 35314], dtype='int64')
효창동 의 outlier :  Int64Index([35396, 35401, 35402, 35408, 35411, 35412, 35413, 35420, 35444,
            35449, 35468, 35469, 35490, 35491, 35493, 35511, 35512],
           dtype='int64')
갈현2동 의 outlier :  Int64Index([], dtype='int64')
갈현1동 의 outlier :  Int64Index([], dtype='int64')
진관동 의 outlier :  Int64Index([], dtype='int64')
구산동 의 outlier :  Int64Index([36508], dtype='int64')
녹번동 의 outlier :  Int64Index([36935, 36943], dtype='int64')
대조동 의 outlier :  Int64Index([37119, 37129, 37130, 37131, 37132, 37139, 37140, 37143, 37146,
            37147, 37155, 37204],
           dtype='int64')
불광2동 의 outlier :  Int64Index([37598, 37626, 37663, 37750, 37869, 37894], dtype='int64')
불광1동 의 outlier :  Int64Index([37517, 38061, 38063, 38064, 38065, 38066], dtype='int64')
수색동 의 outlier :  Int64Index([38190], dtype='int64')
신사1동 의 outlier :  Int64Index([38252, 38343, 38344, 38457, 38537], dtype='int64')
신사2동 의 outlier :  Int64Index([], dtype='int64')
역촌동 의 outlier :  Int64Index([38838, 39136, 39138, 39139, 39140], dtype='int64')
응암1동 의 outlier :  Int64Index([], dtype='int64')
응암3동 의 outlier :  Int64Index([39176], dtype='int64')
응암2동 의 outlier :  Int64Index([], dtype='int64')
증산동 의 outlier :  Int64Index([39689, 39700, 39710, 39711, 39712, 39717, 39723, 39754, 39790], dtype='int64')
가회동 의 outlier :  Int64Index([], dtype='int64')
평창동 의 outlier :  Int64Index([], dtype='int64')
청운효자동 의 outlier :  Int64Index([40265, 40266, 40272, 40273, 40274], dtype='int64')
이화동 의 outlier :  Int64Index([39928, 39929], dtype='int64')
혜화동 의 outlier :  Int64Index([], dtype='int64')
무악동 의 outlier :  Int64Index([], dtype='int64')
부암동 의 outlier :  Int64Index([], dtype='int64')
사직동 의 outlier :  Int64Index([39994, 39995, 39996, 39997, 39998, 39999, 40002, 40003, 40004], dtype='int64')
숭인2동 의 outlier :  Int64Index([], dtype='int64')
숭인1동 의 outlier :  Int64Index([], dtype='int64')
삼청동 의 outlier :  Int64Index([], dtype='int64')
종로5.6가동 의 outlier :  Int64Index([40279], dtype='int64')
창신3동 의 outlier :  Int64Index([40251], dtype='int64')
창신2동 의 outlier :  Int64Index([40156, 40186, 40192, 40230, 40238], dtype='int64')
창신1동 의 outlier :  Int64Index([], dtype='int64')
교남동 의 outlier :  Int64Index([40337, 40339, 40341, 40346, 40358, 40360, 40379, 40420], dtype='int64')
중림동 의 outlier :  Int64Index([], dtype='int64')
신당동 의 outlier :  Int64Index([], dtype='int64')

장충동 의 outlier :  Int64Index([40630, 40631, 40634], dtype='int64')
청구동 의 outlier :  Int64Index([40429, 40430], dtype='int64')
동화동 의 outlier :  Int64Index([40485, 40491, 40576, 40578], dtype='int64')
약수동 의 outlier :  Int64Index([40469, 40529, 40561], dtype='int64')
다산동 의 outlier :  Int64Index([40482, 40483], dtype='int64')
신당5동 의 outlier :  Int64Index([], dtype='int64')
광희동 의 outlier :  Int64Index([], dtype='int64')
필동 의 outlier :  Int64Index([], dtype='int64')
황학동 의 outlier :  Int64Index([], dtype='int64')
회현동 의 outlier :  Int64Index([], dtype='int64')
망우본동 의 outlier :  Int64Index([40757], dtype='int64')
망우3동 의 outlier :  Int64Index([], dtype='int64')
면목본동 의 outlier :  Int64Index([41204], dtype='int64')
면목7동 의 outlier :  Int64Index([40970, 41082, 41361], dtype='int64')
면목4동 의 outlier :  Int64Index([], dtype='int64')
면목2동 의 outlier :  Int64Index([41167, 41168, 41394, 41395, 41396, 41397], dtype='int64')
면목5동 의 outlier :  Int64Index([41305], dtype='int64')
면목3.8동 의 outlier :  Int64Index([], dtype='int64')
묵1동 의 outlier :  Int64Index([41412, 41436, 41580], dtype='int64')
묵2동 의 outlier :  Int64Index([], dtype='int64')
상봉2동 의 outlier :  Int64Index([41617, 41618, 41619, 41624, 41630, 41631, 41632, 41633, 41634,
            41635, 41636, 41637, 41638, 41684, 41692, 41705],
           dtype='int64')
상봉1동 의 outlier :  Int64Index([], dtype='int64')
신내1동 의 outlier :  Int64Index([], dtype='int64')
중화1동 의 outlier :  Int64Index([41924, 42038], dtype='int64')
중화2동 의 outlier :  Int64Index([], dtype='int64')

In [ ]:
# 전/월세

In [54]:
original_shape = data.shape[0]
original_shape

98967

In [46]:
outlier_num = 0     # outlier세기 위한 변수

for dong in data["행정동"].unique():
    df = data[data["행정동"] == dong]
    
    outlier_index = find_outlier(df, "단위면적당_전세")
    outlier_num += len(outlier_index)
    print(dong, "의 outlier : ", outlier_index)
    
    data.drop(outlier_index, axis = 0, inplace = True)

print("이상치의 개수 : ", outlier_num)
print(original_shape - data.shape[0])

개포4동 의 outlier :  Int64Index([98, 100, 101, 102, 103, 237, 344], dtype='int64')
개포2동 의 outlier :  Int64Index([], dtype='int64')
개포1동 의 outlier :  Int64Index([], dtype='int64')
논현2동 의 outlier :  Int64Index([675, 678, 843, 874, 875, 1541], dtype='int64')
논현1동 의 outlier :  Int64Index([740, 881, 882, 891], dtype='int64')
대치1동 의 outlier :  Int64Index([1576, 2017, 2354], dtype='int64')
대치4동 의 outlier :  Int64Index([1580, 1581, 1624, 1625, 1633, 1634, 1635, 1636, 1642, 1643, 1651,
            1654, 1655, 1674, 1675, 1678, 1708, 1710, 1718, 1876, 1880, 1881,
            1882, 1902, 1916, 1940, 1941, 1945, 1946, 1948, 1957, 1958, 1959,
            1960, 1961, 1968, 1970, 1991, 1992, 1993, 1994, 2062, 2121, 2127,
            2128, 2129, 2130, 2132, 2136, 2137, 2139, 2140, 2141, 2142, 2143,
            2144, 2148, 2149, 2150, 2169, 2201, 2221, 2264, 2305, 2325, 2359,
            2374, 2381],
           dtype='int64')
대치2동 의 outlier :  Int64Index([1810, 1818, 1819, 1820, 1821, 1875, 2001], dtype='int64')
도곡1동 의 outlier :  Int64Index([], dtype='int64')
도곡2동 의 outlier :  Int64Index([], dtype='int64')
삼성1동 의 outlier :  Int64Index([2688, 2781, 2840, 2935, 2936, 2954, 2955, 2956, 2957], dtype='int64')
삼성2동 의 outlier :  Int64Index([2579, 2580, 2581, 2582, 2583, 2584, 2585, 2617, 2637, 2648, 2683,
            2684, 2686, 2706, 2752, 2788, 2795, 2796, 2803, 2818, 2832, 2833,
            2850, 2929, 2964, 2998, 3003, 3005, 3030, 3039, 3056, 3059],
           dtype='int64')
세곡동 의 outlier :  Int64Index([4779], dtype='int64')
신사동 의 outlier :  Int64Index([ 3114,  3118,  3138,  3139,  3149,  3150,  3154,  3155,  3156,
             3174,  3176,  3177,  3205, 24682, 24787],
           dtype='int64')

C:\Users\acorn\Anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

압구정동 의 outlier :  Int64Index([3151, 3152, 3212, 3229, 3230, 3268, 3269], dtype='int64')
역삼1동 의 outlier :  Int64Index([3354, 3357, 3369, 3632, 3678, 3743, 3848, 3849], dtype='int64')
역삼2동 의 outlier :  Int64Index([3869, 3870, 3871, 3936, 3981, 4323, 4324, 4327, 4328, 4612], dtype='int64')
일원1동 의 outlier :  Int64Index([4648], dtype='int64')
일원본동 의 outlier :  Int64Index([4730, 4766], dtype='int64')
청담동 의 outlier :  Int64Index([4863, 4940, 4941, 4942, 4943, 4944, 4945, 4946, 4969], dtype='int64')
강일동 의 outlier :  Int64Index([5018], dtype='int64')
고덕2동 의 outlier :  Int64Index([5022, 5027, 5045, 5054], dtype='int64')
고덕1동 의 outlier :  Int64Index([5040], dtype='int64')
길동 의 outlier :  Int64Index([5175, 5176, 5177, 5178, 5179, 5181, 5182, 5183, 5184, 5185, 5186,
            5187, 5484, 5521],
           dtype='int64')
둔촌2동 의 outlier :  Int64Index([5791, 5973, 6082], dtype='int64')
명일2동 의 outlier :  Int64Index([6119, 6218], dtype='int64')
명일1동 의 outlier :  Int64Index([], dtype='int64')
상일동 의 outlier :  Int64Index([6325, 6398], dtype='int64')
성내2동 의 outlier :  Int64Index([6830, 7076, 7974, 7975], dtype='int64')
성내3동 의 outlier :  Int64Index([6563, 6735, 6749, 8012], dtype='int64')
성내1동 의 outlier :  Int64Index([7613], dtype='int64')
암사1동 의 outlier :  Int64Index([8498, 8605, 8608, 8609, 8755, 9130], dtype='int64')
암사3동 의 outlier :  Int64Index([], dtype='int64')
암사2동 의 outlier :  Int64Index([8581], dtype='int64')
천호3동 의 outlier :  Int64Index([], dtype='int64')
천호1동 의 outlier :  Int64Index([9517, 9564, 10040, 10479, 10498, 10564, 10642], dtype='int64')
천호2동 의 outlier :  Int64Index([9671, 10015, 10276, 10832], dtype='int64')
송천동 의 outlier :  Int64Index([11123, 11124, 11125, 11126, 11479], dtype='int64')
미아동 의 outlier :  Int64Index([], dtype='int64')
삼양동 의 outlier :  Int64Index([11114, 11119, 11120, 11229, 11230, 11231, 11258, 11259, 11261,
            11262, 11263, 11408, 11409, 11444, 11445, 11462, 11463],
           dtype='int64')
송중동 의 outlier :  Int64Index([11102, 11497], dtype='int64')
삼각산동 의 outlier :  Int64Index([], dtype='int64')
번2동 의 outlier :  Int64Index([11586, 11607], dtype='int64')
번1동 의 outlier :  Int64Index([], dtype='int64')
번3동 의 outlier :  Int64Index([11621, 11622], dtype='int64')
수유3동 의 outlier :  Int64Index([11754, 11832, 12111, 12112], dtype='int64')
수유2동 의 outlier :  Int64Index([11703], dtype='int64')
우이동 의 outlier :  Int64Index([], dtype='int64')
인수동 의 outlier :  Int64Index([11842, 11920, 11922, 12209, 12278, 12297], dtype='int64')
수유1동 의 outlier :  Int64Index([11979, 11980], dtype='int64')
가양1동 의 outlier :  Int64Index([], dtype='int64')
방화2동 의 outlier :  Int64Index([], dtype='int64')
공항동 의 outlier :  Int64Index([12919], dtype='int64')
우장산동 의 outlier :  Int64Index([13565, 13607], dtype='int64')
발산1동 의 outlier :  Int64Index([], dtype='int64')
등촌2동 의 outlier :  Int64Index([], dtype='int64')
등촌1동 의 outlier :  Int64Index([], dtype='int64')
등촌3동 의 outlier :  Int64Index([], dtype='int64')
방화1동 의 outlier :  Int64Index([], dtype='int64')
방화3동 의 outlier :  Int64Index([], dtype='int64')
염창동 의 outlier :  Int64Index([], dtype='int64')
화곡3동 의 outlier :  Int64Index([], dtype='int64')
화곡본동 의 outlier :  Int64Index([15462, 16076, 16807, 17169, 17251, 17252, 17786, 17787, 18278,
            18281, 18378, 18379, 18996, 19152, 19360, 19362, 19363, 19365,
            19367, 19368, 19370, 19828, 19830, 19831, 19832, 19833, 19903,
            19904, 19952, 20835, 21096, 21121],
           dtype='int64')
화곡1동 의 outlier :  Int64Index([18784, 18786, 20851, 20856, 20857], dtype='int64')
화곡6동 의 outlier :  Int64Index([], dtype='int64')
화곡8동 의 outlier :  Int64Index([], dtype='int64')
화곡2동 의 outlier :  Int64Index([16461, 19375, 19383, 19883], dtype='int64')
화곡4동 의 outlier :  Int64Index([], dtype='int64')
남현동 의 outlier :  Int64Index([], dtype='int64')
청림동 의 outlier :  Int64Index([], dtype='int64')
행운동 의 outlier :  Int64Index([21789], dtype='int64')
보라매동 의 outlier :  Int64Index([22028], dtype='int64')
낙성대동 의 outlier :  Int64Index([], dtype='int64')
중앙동 의 outlier :  Int64Index([22833, 22834, 22835, 22836, 22838, 23304], dtype='int64')
청룡동 의 outlier :  Int64Index([], dtype='int64')
인헌동 의 outlier :  Int64Index([21842, 22043, 22187, 22236, 22237, 22238, 22239, 22240, 22242,
            22243, 22244, 22249, 22250, 22254, 22255, 22469, 22485, 22928,
            22930, 22931, 22932, 23244],
           dtype='int64')
성현동 의 outlier :  Int64Index([], dtype='int64')
은천동 의 outlier :  Int64Index([], dtype='int64')
서원동 의 outlier :  Int64Index([23780, 23783, 24160, 24162, 24598, 24599, 24600, 24601, 24602,
            24603, 24604, 24605, 24606, 24607, 24608, 24609, 24610],
           dtype='int64')
서림동 의 outlier :  Int64Index([23719], dtype='int64')
신림동 의 outlier :  Int64Index([23504, 24556, 24570, 24759, 24760, 25583, 25634], dtype='int64')
미성동 의 outlier :  Int64Index([23538, 23541], dtype='int64')
대학동 의 outlier :  Int64Index([], dtype='int64')
삼성동 의 outlier :  Int64Index([24626, 24756, 25245, 25246, 25247, 25248, 25249, 25250, 25251,
            25252, 25253, 25254],
           dtype='int64')
신원동 의 outlier :  Int64Index([], dtype='int64')
조원동 의 outlier :  Int64Index([25443], dtype='int64')
난곡동 의 outlier :  Int64Index([], dtype='int64')
난향동 의 outlier :  Int64Index([], dtype='int64')
광장동 의 outlier :  Int64Index([], dtype='int64')
구의3동 의 outlier :  Int64Index([26224], dtype='int64')
구의2동 의 outlier :  Int64Index([26347, 26548, 26923, 26930], dtype='int64')
구의1동 의 outlier :  Int64Index([25859, 26045, 26439, 26623, 26625, 26637, 26638], dtype='int64')
군자동 의 outlier :  Int64Index([27297, 27366], dtype='int64')
능동 의 outlier :  Int64Index([27446, 27580, 27626], dtype='int64')
자양4동 의 outlier :  Int64Index([27734, 28423, 28709], dtype='int64')
자양1동 의 outlier :  Int64Index([28341, 28475], dtype='int64')
자양3동 의 outlier :  Int64Index([], dtype='int64')
자양2동 의 outlier :  Int64Index([28093, 28130, 28145, 28253, 28635], dtype='int64')
중곡4동 의 outlier :  Int64Index([28938, 29227, 29228, 29408, 29409], dtype='int64')
중곡2동 의 outlier :  Int64Index([29265, 29759, 29807, 29808, 29906, 30181], dtype='int64')
중곡1동 의 outlier :  Int64Index([29365, 29366, 29367, 29368, 29632, 29645, 29933, 30070, 30239], dtype='int64')
중곡3동 의 outlier :  Int64Index([29681, 29986, 30198], dtype='int64')
화양동 의 outlier :  Int64Index([], dtype='int64')
가리봉동 의 outlier :  Int64Index([], dtype='int64')
개봉1동 의 outlier :  Int64Index([30916, 30917, 30918, 30919, 30920, 30921, 30922, 30923, 30924,
            30925, 31781, 31786, 31787],
           dtype='int64')
개봉2동 의 outlier :  Int64Index([], dtype='int64')
개봉3동 의 outlier :  Int64Index([], dtype='int64')
고척2동 의 outlier :  Int64Index([], dtype='int64')
고척1동 의 outlier :  Int64Index([], dtype='int64')
구로4동 의 outlier :  Int64Index([32211, 32212], dtype='int64')
구로3동 의 outlier :  Int64Index([32331, 32477, 32478, 32479, 32543, 32544, 32545, 32546, 32547,
            32574, 32575, 32576, 32577],
           dtype='int64')
구로5동 의 outlier :  Int64Index([], dtype='int64')
구로2동 의 outlier :  Int64Index([], dtype='int64')
구로1동 의 outlier :  Int64Index([32532], dtype='int64')
수궁동 의 outlier :  Int64Index([32745, 32747, 32748, 32750, 33502, 33606], dtype='int64')
신도림동 의 outlier :  Int64Index([32964, 32965], dtype='int64')
오류2동 의 outlier :  Int64Index([33076, 33125, 33150, 33398, 33399, 33400, 33401, 33410], dtype='int64')
오류1동 의 outlier :  Int64Index([33372], dtype='int64')
항동 의 outlier :  Int64Index([33732], dtype='int64')
가산동 의 outlier :  Int64Index([33779, 33780, 33785, 33831], dtype='int64')
독산1동 의 outlier :  Int64Index([34140, 34148, 34149, 34178, 34247, 34801, 34802], dtype='int64')
독산4동 의 outlier :  Int64Index([], dtype='int64')
독산2동 의 outlier :  Int64Index([], dtype='int64')
독산3동 의 outlier :  Int64Index([], dtype='int64')
시흥5동 의 outlier :  Int64Index([], dtype='int64')
시흥1동 의 outlier :  Int64Index([], dtype='int64')
시흥3동 의 outlier :  Int64Index([35016, 35017, 35105, 35148, 35149, 35150, 35151, 35152, 35171,
            35172, 35173, 35174, 35175, 35355, 35356, 35357, 35358, 35359,
            35360, 35361, 35362, 35363, 35512, 35548, 35600, 35601, 35632,
            35633, 35634, 35635, 35636],
           dtype='int64')
시흥2동 의 outlier :  Int64Index([], dtype='int64')
시흥4동 의 outlier :  Int64Index([], dtype='int64')
공릉2동 의 outlier :  Int64Index([35761, 36112], dtype='int64')
공릉1동 의 outlier :  Int64Index([], dtype='int64')
상계1동 의 outlier :  Int64Index([], dtype='int64')
상계3.4동 의 outlier :  Int64Index([36404, 36421, 36464, 36489, 36516, 36524, 36572, 36573, 36635,
            36795, 36797, 36846, 36857, 36889, 36902],
           dtype='int64')
상계5동 의 outlier :  Int64Index([36391], dtype='int64')
상계2동 의 outlier :  Int64Index([], dtype='int64')
상계10동 의 outlier :  Int64Index([36868, 36869, 36870], dtype='int64')

월계2동 의 outlier :  Int64Index([], dtype='int64')
월계1동 의 outlier :  Int64Index([], dtype='int64')
월계3동 의 outlier :  Int64Index([], dtype='int64')
중계본동 의 outlier :  Int64Index([37158], dtype='int64')
중계4동 의 outlier :  Int64Index([], dtype='int64')
하계1동 의 outlier :  Int64Index([37277, 37282, 37287, 37288, 37310, 37311, 37338], dtype='int64')
도봉1동 의 outlier :  Int64Index([], dtype='int64')
도봉2동 의 outlier :  Int64Index([], dtype='int64')
방학3동 의 outlier :  Int64Index([], dtype='int64')
방학2동 의 outlier :  Int64Index([37646, 37722], dtype='int64')
방학1동 의 outlier :  Int64Index([37621, 37674, 37678, 37729, 37730, 37838, 37889, 37959, 37960,
            38005, 38010, 38062],
           dtype='int64')
쌍문4동 의 outlier :  Int64Index([38270], dtype='int64')
쌍문1동 의 outlier :  Int64Index([38189, 38191, 38192], dtype='int64')
쌍문3동 의 outlier :  Int64Index([38432, 38471, 38472, 38509, 38510, 38571, 38572, 38573, 38587,
            38603, 38605, 38624, 38628],
           dtype='int64')
쌍문2동 의 outlier :  Int64Index([38144, 38145, 38146, 38147, 38148, 38220, 38221, 38233, 38325,
            38326, 38327, 38328, 38489, 38517],
           dtype='int64')
창5동 의 outlier :  Int64Index([38651, 38652, 38653, 38654, 38675, 38760, 38780, 38927, 38935,
            39161, 39162, 39173],
           dtype='int64')
창3동 의 outlier :  Int64Index([39181, 39182, 39270, 39271, 39272, 39273, 39274], dtype='int64')
창2동 의 outlier :  Int64Index([38917, 39119], dtype='int64')
창1동 의 outlier :  Int64Index([], dtype='int64')
창4동 의 outlier :  Int64Index([], dtype='int64')
답십리1동 의 outlier :  Int64Index([], dtype='int64')
답십리2동 의 outlier :  Int64Index([], dtype='int64')
용신동 의 outlier :  Int64Index([], dtype='int64')
이문1동 의 outlier :  Int64Index([39706, 39708, 39747], dtype='int64')
이문2동 의 outlier :  Int64Index([], dtype='int64')
장안2동 의 outlier :  Int64Index([], dtype='int64')
장안1동 의 outlier :  Int64Index([], dtype='int64')
전농1동 의 outlier :  Int64Index([40520, 40760, 40761, 40762, 40764, 40765], dtype='int64')
전농2동 의 outlier :  Int64Index([], dtype='int64')
제기동 의 outlier :  Int64Index([], dtype='int64')
청량리동 의 outlier :  Int64Index([41162, 41163, 41164, 41165, 41167, 41168], dtype='int64')
회기동 의 outlier :  Int64Index([41188], dtype='int64')
휘경1동 의 outlier :  Int64Index([], dtype='int64')
휘경2동 의 outlier :  Int64Index([41226, 41252, 41285, 41286, 41427], dtype='int64')
노량진1동 의 outlier :  Int64Index([41606, 41608, 41609, 41610, 41611, 41612, 41613, 41614, 41615,
            41616, 41618],
           dtype='int64')
노량진2동 의 outlier :  Int64Index([41488, 41489, 41490, 41491, 41492, 41526, 41527, 41528, 41529,
            41578, 41579],
           dtype='int64')
대방동 의 outlier :  Int64Index([], dtype='int64')
사당2동 의 outlier :  Int64Index([43000], dtype='int64')
사당1동 의 outlier :  Int64Index([42209, 42247, 42273, 43051, 43266], dtype='int64')
사당5동 의 outlier :  Int64Index([42347, 42348, 42799, 42800, 42801, 42803, 42804, 42805, 42806,
            42807, 42808, 42809, 42810, 42811, 42812, 42813],
           dtype='int64')
사당3동 의 outlier :  Int64Index([42907], dtype='int64')
사당4동 의 outlier :  Int64Index([42186, 43036, 43309], dtype='int64')
상도1동 의 outlier :  Int64Index([43499, 43677], dtype='int64')
상도2동 의 outlier :  Int64Index([], dtype='int64')
상도4동 의 outlier :  Int64Index([], dtype='int64')
상도3동 의 outlier :  Int64Index([43600], dtype='int64')
신대방2동 의 outlier :  Int64Index([], dtype='int64')
신대방1동 의 outlier :  Int64Index([45287, 45348, 45349, 45386, 45489, 45569, 45572], dtype='int64')
흑석동 의 outlier :  Int64Index([45686], dtype='int64')
공덕동 의 outlier :  Int64Index([], dtype='int64')
아현동 의 outlier :  Int64Index([45796], dtype='int64')
신수동 의 outlier :  Int64Index([], dtype='int64')
대흥동 의 outlier :  Int64Index([45867, 45877, 45878, 45939], dtype='int64')
서교동 의 outlier :  Int64Index([47680, 47681], dtype='int64')
서강동 의 outlier :  Int64Index([47483, 50110, 50127, 50136, 50137, 50138, 50139, 50140, 50142,
            50165, 50166, 50167, 50174, 50175, 50176, 50177, 50178, 50179,
            50180, 50181, 50211, 50212, 50213, 50214],
           dtype='int64')
용강동 의 outlier :  Int64Index([45958, 50001, 50003, 50238, 50239, 50240], dtype='int64')
도화동 의 outlier :  Int64Index([], dtype='int64')
망원1동 의 outlier :  Int64Index([46185, 46442, 46443, 46499, 46517, 46784, 46788], dtype='int64')
망원2동 의 outlier :  Int64Index([], dtype='int64')
상암동 의 outlier :  Int64Index([], dtype='int64')
성산1동 의 outlier :  Int64Index([48867, 48869, 48870, 48871], dtype='int64')
성산2동 의 outlier :  Int64Index([], dtype='int64')
연남동 의 outlier :  Int64Index([49446, 49448, 49450, 49451, 49452], dtype='int64')
염리동 의 outlier :  Int64Index([49881, 49883, 49912, 49935, 49936, 49937], dtype='int64')
합정동 의 outlier :  Int64Index([50290, 50561, 50769, 50874], dtype='int64')
남가좌2동 의 outlier :  Int64Index([51109, 51146], dtype='int64')
남가좌1동 의 outlier :  Int64Index([51090, 51128], dtype='int64')
천연동 의 outlier :  Int64Index([], dtype='int64')
신촌동 의 outlier :  Int64Index([], dtype='int64')
북가좌2동 의 outlier :  Int64Index([51501, 51591, 51592, 51633], dtype='int64')
북가좌1동 의 outlier :  Int64Index([51516, 51631, 51691, 51740], dtype='int64')
충현동 의 outlier :  Int64Index([51963, 51979, 52946, 52954, 52955], dtype='int64')
북아현동 의 outlier :  Int64Index([51983], dtype='int64')
연희동 의 outlier :  Int64Index([52172, 52272, 52273, 52274, 52275, 52276, 52277, 52278, 52279,
            52280, 52281, 52282, 52284, 52285, 52360],
           dtype='int64')
홍은2동 의 outlier :  Int64Index([53241, 53341, 53342, 53343, 53344], dtype='int64')
홍은1동 의 outlier :  Int64Index([], dtype='int64')
홍제2동 의 outlier :  Int64Index([], dtype='int64')
홍제1동 의 outlier :  Int64Index([53505, 53506, 53507, 53508, 53509, 53510, 53511, 53512, 53659,
            53660, 53661, 53662, 53663],
           dtype='int64')
홍제3동 의 outlier :  Int64Index([53548], dtype='int64')
내곡동 의 outlier :  Int64Index([57068], dtype='int64')
반포4동 의 outlier :  Int64Index([53787, 53788, 53789, 53859, 53888, 53907, 53911, 53912, 53945,
            53992, 54035, 54053, 54054, 54055, 54106, 54129, 54167, 54204],
           dtype='int64')
반포1동 의 outlier :  Int64Index([53818, 53882, 53954, 54027, 54194, 54195, 54196], dtype='int64')
방배본동 의 outlier :  Int64Index([55061, 55158, 55159, 55160, 55161, 55162, 55163, 55164, 55165,
            55166, 55167, 55168],
           dtype='int64')
서초3동 의 outlier :  Int64Index([56894], dtype='int64')
방배3동 의 outlier :  Int64Index([], dtype='int64')
방배1동 의 outlier :  Int64Index([54536, 56140, 56143, 56147, 56224, 56227], dtype='int64')
방배2동 의 outlier :  Int64Index([55631, 55906], dtype='int64')
방배4동 의 outlier :  Int64Index([54517, 54518, 54532, 54533, 55096, 55097, 55521, 55722, 55888], dtype='int64')
서초2동 의 outlier :  Int64Index([56445], dtype='int64')
서초1동 의 outlier :  Int64Index([56499, 56800, 56801], dtype='int64')
서초4동 의 outlier :  Int64Index([], dtype='int64')
양재1동 의 outlier :  Int64Index([57330, 57331, 57552, 57556, 57557, 57679, 57874, 58465], dtype='int64')
양재2동 의 outlier :  Int64Index([57418, 57829, 57830, 57831, 58139, 58140], dtype='int64')
잠원동 의 outlier :  Int64Index([58576], dtype='int64')
금호1가동 의 outlier :  Int64Index([], dtype='int64')
금호2.3가동 의 outlier :  Int64Index([58839], dtype='int64')
금호4가동 의 outlier :  Int64Index([58862, 58868, 58869], dtype='int64')
왕십리도선동 의 outlier :  Int64Index([58892, 60002, 60005, 60006], dtype='int64')
마장동 의 outlier :  Int64Index([], dtype='int64')
사근동 의 outlier :  Int64Index([], dtype='int64')
성수1가2동 의 outlier :  Int64Index([], dtype='int64')
성수1가1동 의 outlier :  Int64Index([59112, 59228, 59229, 59230, 59231, 59277, 59280, 59281, 59283,
            59284, 59285, 59286, 59287, 59288],
           dtype='int64')
성수2가3동 의 outlier :  Int64Index([59424, 59425, 59532, 59547, 59548], dtype='int64')
성수2가1동 의 outlier :  Int64Index([59399], dtype='int64')
송정동 의 outlier :  Int64Index([], dtype='int64')
옥수동 의 outlier :  Int64Index([], dtype='int64')
용답동 의 outlier :  Int64Index([], dtype='int64')
응봉동 의 outlier :  Int64Index([], dtype='int64')
왕십리2동 의 outlier :  Int64Index([], dtype='int64')
행당1동 의 outlier :  Int64Index([], dtype='int64')
행당2동 의 outlier :  Int64Index([], dtype='int64')
길음2동 의 outlier :  Int64Index([], dtype='int64')
길음1동 의 outlier :  Int64Index([60047, 60062, 60064], dtype='int64')
돈암1동 의 outlier :  Int64Index([], dtype='int64')
돈암2동 의 outlier :  Int64Index([], dtype='int64')
동선동 의 outlier :  Int64Index([], dtype='int64')
성북동 의 outlier :  Int64Index([61433], dtype='int64')
보문동 의 outlier :  Int64Index([], dtype='int64')
삼선동 의 outlier :  Int64Index([60815], dtype='int64')
월곡2동 의 outlier :  Int64Index([], dtype='int64')

석관동 의 outlier :  Int64Index([], dtype='int64')
안암동 의 outlier :  Int64Index([], dtype='int64')
장위1동 의 outlier :  Int64Index([61729, 61742, 61923, 61941, 61942, 61943, 61944, 61952, 61956,
            61957, 61960, 61988, 62013, 62021, 62024, 62025, 62026, 62029,
            62065, 62109, 62124, 62196, 62201, 62202, 62207, 62208, 62210,
            62212, 62213, 62218],
           dtype='int64')
장위2동 의 outlier :  Int64Index([], dtype='int64')
장위3동 의 outlier :  Int64Index([], dtype='int64')
정릉1동 의 outlier :  Int64Index([62359, 62387, 62548, 62549], dtype='int64')
정릉4동 의 outlier :  Int64Index([62262, 62294, 62296, 62297, 62423, 62424, 62630, 62803], dtype='int64')
정릉3동 의 outlier :  Int64Index([], dtype='int64')
정릉2동 의 outlier :  Int64Index([], dtype='int64')
종암동 의 outlier :  Int64Index([], dtype='int64')
월곡1동 의 outlier :  Int64Index([63091, 63092], dtype='int64')
가락본동 의 outlier :  Int64Index([63365, 63545, 63969], dtype='int64')
가락2동 의 outlier :  Int64Index([63206, 63241, 63264, 63267, 63305, 63533, 63534, 63537, 63538,
            63893, 64025, 64193],
           dtype='int64')
거여1동 의 outlier :  Int64Index([64356, 64494, 64557], dtype='int64')
거여2동 의 outlier :  Int64Index([64307, 64348, 64349, 64388, 64511, 64512, 64513, 64539, 64540,
            64541, 64542, 64589],
           dtype='int64')
위례동 의 outlier :  Int64Index([], dtype='int64')
마천2동 의 outlier :  Int64Index([64699, 64700, 64703, 64705, 64725, 64775, 64776, 64777, 64778,
            64779, 64780, 64883, 64901, 64902, 64915, 65029, 65030, 65041,
            65048, 65079, 65081, 65082, 65083],
           dtype='int64')
마천1동 의 outlier :  Int64Index([64630, 64639, 64669, 64670, 64679, 64682, 64683, 64711, 64849,
            64850, 64851, 64920, 64921, 64968, 65025, 65026, 65027, 65028],
           dtype='int64')
문정1동 의 outlier :  Int64Index([65228, 65602, 65801, 65802, 65859], dtype='int64')
장지동 의 outlier :  Int64Index([65508, 65997, 65999], dtype='int64')
방이2동 의 outlier :  Int64Index([66340, 66521, 66573, 66579, 66605, 66850, 66971, 67015, 67344,
            67406, 67439, 67516, 67531, 67940],
           dtype='int64')
방이1동 의 outlier :  Int64Index([66501, 67355, 67359], dtype='int64')
삼전동 의 outlier :  Int64Index([68019, 68209, 68298, 68503, 68585, 68588, 68668, 68672, 68674,
            68692, 68693, 68694, 68695, 68696, 68697, 68762, 68800, 68843,
            68863, 68864, 68873, 68891, 68894, 68959, 68962, 68963, 68965,
            68971, 69014, 69015, 69020, 69021, 69022, 69061, 69064, 69124,
            69160, 69180, 69181, 69182, 69183, 69184, 69185, 69186, 69187,
            69280, 69376, 69440, 69441, 69455, 69520, 69521, 69522, 69523,
            69524, 69525, 69526, 69527, 69562, 69563, 69592, 69598, 69601,
            69695, 69783, 69798, 69810, 69811, 69812, 69813],
           dtype='int64')
석촌동 의 outlier :  Int64Index([69959, 70076, 70077, 70078, 70079, 70100, 70116, 70201, 70219,
            70247, 70369, 70440, 70461, 70474, 70483, 70493, 70495, 70526,
            70612, 70713, 70770, 70821, 70857, 70858, 70904, 70922, 70965,
            70993, 71030, 71069, 71114, 71173, 71181, 71200, 71286, 71293,
            71312, 71384, 71487, 71491, 71593, 71606, 71607, 71608, 71609,
            71618, 71620, 71621, 71662, 71800, 71803],
           dtype='int64')
송파1동 의 outlier :  Int64Index([72181, 72376, 72379, 72877, 73136, 73177, 73192, 73196, 73282,
            73304, 73514, 73515, 73610, 73613, 73860, 73872, 73873],
           dtype='int64')
송파2동 의 outlier :  Int64Index([72034, 72464], dtype='int64')
오금동 의 outlier :  Int64Index([73953, 73957, 73966, 74215, 74271, 74272, 74273, 74354, 74370,
            74371, 74372, 74373],
           dtype='int64')
잠실본동 의 outlier :  Int64Index([74446, 74477, 74483, 74633, 74634, 74635, 74756, 74774, 74775,
            74782, 75082, 75085, 75086, 75087, 75096, 75369, 75370, 75371,
            75372, 75373, 75374, 75375, 75376, 75377, 75378, 75428, 75429,
            75430, 75528, 75580, 75650, 75846],
           dtype='int64')
풍납1동 의 outlier :  Int64Index([76019], dtype='int64')
풍납2동 의 outlier :  Int64Index([76097, 76098], dtype='int64')
목2동 의 outlier :  Int64Index([76983, 77459, 77557, 77932, 78133], dtype='int64')
목3동 의 outlier :  Int64Index([77318, 77327], dtype='int64')
목4동 의 outlier :  Int64Index([76841, 77242, 77485, 77619, 77827], dtype='int64')
목1동 의 outlier :  Int64Index([77003, 77442], dtype='int64')
신월1동 의 outlier :  Int64Index([79082], dtype='int64')
신월4동 의 outlier :  Int64Index([79984], dtype='int64')
신월3동 의 outlier :  Int64Index([], dtype='int64')
신월2동 의 outlier :  Int64Index([79247], dtype='int64')
신월5동 의 outlier :  Int64Index([], dtype='int64')
신월6동 의 outlier :  Int64Index([78609, 78658, 78929, 78942, 79852, 79935, 79978, 79991], dtype='int64')
신월7동 의 outlier :  Int64Index([78692, 78693, 78695, 78947, 79495, 79496, 79700, 79701, 79925,
            79926, 79927, 79928, 79929],
           dtype='int64')
신정2동 의 outlier :  Int64Index([], dtype='int64')
신정4동 의 outlier :  Int64Index([80149, 80153, 80788], dtype='int64')
신정1동 의 outlier :  Int64Index([], dtype='int64')
신정3동 의 outlier :  Int64Index([80037, 80398, 80399, 80400, 80401, 80412, 80846], dtype='int64')
신정7동 의 outlier :  Int64Index([], dtype='int64')
당산2동 의 outlier :  Int64Index([], dtype='int64')
당산1동 의 outlier :  Int64Index([81190, 81191, 81192, 81275, 81276, 81280, 81365, 81371, 81382,
            81403, 81404, 81405, 81406, 81407, 81408, 81409, 81410, 81411,
            81414, 81418],
           dtype='int64')
대림2동 의 outlier :  Int64Index([81579, 81628, 81629, 81662, 81721, 81724, 81725, 81736], dtype='int64')
대림3동 의 outlier :  Int64Index([81578], dtype='int64')
대림1동 의 outlier :  Int64Index([81553, 81559], dtype='int64')
도림동 의 outlier :  Int64Index([81815], dtype='int64')
문래동 의 outlier :  Int64Index([81854, 81855], dtype='int64')
신길1동 의 outlier :  Int64Index([], dtype='int64')
신길7동 의 outlier :  Int64Index([], dtype='int64')
신길4동 의 outlier :  Int64Index([], dtype='int64')
영등포본동 의 outlier :  Int64Index([], dtype='int64')
신길3동 의 outlier :  Int64Index([], dtype='int64')
신길5동 의 outlier :  Int64Index([82072], dtype='int64')
신길6동 의 outlier :  Int64Index([], dtype='int64')
양평1동 의 outlier :  Int64Index([82407, 82412, 82413, 82414, 82426, 82427, 82429, 82431, 82437], dtype='int64')
양평2동 의 outlier :  Int64Index([82535, 82573, 82717, 82821], dtype='int64')
영등포동 의 outlier :  Int64Index([82938, 82981, 82982, 82983, 82984, 83010, 83152, 83192, 83193,
            83195, 83196, 83217, 83218, 83219, 83220, 83254, 83255, 83256,
            83257, 83258, 83307, 83308, 83366, 83369, 83370, 83372, 83395,
            83404],
           dtype='int64')
남영동 의 outlier :  Int64Index([83453, 83487, 83488, 83489, 83490, 83491, 83494, 83587, 83591,
            83593, 83596, 83601, 83602, 83604],
           dtype='int64')
서빙고동 의 outlier :  Int64Index([83564, 83565, 83566, 83567, 83568, 83569, 83570, 83571, 83572,
            83573, 83574, 83575, 83576, 83577, 83776, 83777],
           dtype='int64')
원효로1동 의 outlier :  Int64Index([83781, 83815, 84378, 84379, 84380, 84387, 84419, 84421, 84447,
            84448, 84449, 84450, 84453, 84456, 84459, 84464, 84465, 84466,
            84483, 84493, 84498, 84499, 84501, 84502, 84524, 84525, 84526,
            84527, 84528, 84529, 84530, 84531, 84532, 84533, 84548, 84550,
            84551, 84552, 84553, 84554, 84555, 84568, 84569, 84575, 84577,
            84608, 84648, 84649, 84650],
           dtype='int64')
보광동 의 outlier :  Int64Index([83670], dtype='int64')
원효로2동 의 outlier :  Int64Index([], dtype='int64')
청파동 의 outlier :  Int64Index([85297, 85406], dtype='int64')
용문동 의 outlier :  Int64Index([], dtype='int64')
용산2가동 의 outlier :  Int64Index([84300, 84350, 84360, 84372, 84373], dtype='int64')
후암동 의 outlier :  Int64Index([86135], dtype='int64')
한강로동 의 outlier :  Int64Index([], dtype='int64')
이촌2동 의 outlier :  Int64Index([], dtype='int64')
이촌1동 의 outlier :  Int64Index([], dtype='int64')
이태원1동 의 outlier :  Int64Index([], dtype='int64')
이태원2동 의 outlier :  Int64Index([84958, 84960, 84962, 84963, 84964], dtype='int64')
한남동 의 outlier :  Int64Index([85494, 85495, 85530, 85531, 85609, 85623], dtype='int64')
효창동 의 outlier :  Int64Index([], dtype='int64')
갈현1동 의 outlier :  Int64Index([86788, 86789, 86791, 86792, 86793, 86795, 86798, 86799, 86803,
            86804, 86805, 86806, 86808, 86809, 86810, 86811, 86812, 86813,
            86815, 86816, 86817, 86819, 86820],
           dtype='int64')
갈현2동 의 outlier :  Int64Index([87128, 87349], dtype='int64')
진관동 의 outlier :  Int64Index([87063], dtype='int64')
구산동 의 outlier :  Int64Index([], dtype='int64')
녹번동 의 outlier :  Int64Index([], dtype='int64')

대조동 의 outlier :  Int64Index([88623, 88870], dtype='int64')
불광2동 의 outlier :  Int64Index([89966, 89991, 89992], dtype='int64')
불광1동 의 outlier :  Int64Index([89926, 90279], dtype='int64')
수색동 의 outlier :  Int64Index([], dtype='int64')
신사1동 의 outlier :  Int64Index([90496, 90515, 90589, 90788], dtype='int64')
신사2동 의 outlier :  Int64Index([90504], dtype='int64')
역촌동 의 outlier :  Int64Index([91334], dtype='int64')
응암1동 의 outlier :  Int64Index([92706], dtype='int64')
응암3동 의 outlier :  Int64Index([], dtype='int64')
응암2동 의 outlier :  Int64Index([92944], dtype='int64')
증산동 의 outlier :  Int64Index([93073, 93074, 93075, 93076, 93077, 93078, 93079, 93084, 93085,
            93086, 93087, 93100, 93101, 93102, 93103, 93118, 93119, 93120,
            93121, 93122, 93123, 93124, 93125, 93128, 93143, 93151, 93152,
            93159, 93160, 93161, 93162, 93163, 93164, 93186, 93188, 93189,
            93197, 93198, 93199, 93201, 93237],
           dtype='int64')
가회동 의 outlier :  Int64Index([93264, 94067, 94080, 94121, 94140], dtype='int64')
평창동 의 outlier :  Int64Index([93295, 94302, 94307, 94309, 94326, 94327, 94399, 94400, 94403,
            94404, 94405, 94406],
           dtype='int64')
사직동 의 outlier :  Int64Index([93700, 93865, 94420], dtype='int64')
청운효자동 의 outlier :  Int64Index([93374, 93400, 93422, 93425, 93426, 93837, 93855, 94272, 94273,
            94561],
           dtype='int64')
이화동 의 outlier :  Int64Index([93438, 93439, 93446, 93449, 93483, 93485, 93508, 93521, 93969,
            93974, 93975, 93981, 93983, 93995, 94010, 94152, 94153],
           dtype='int64')
혜화동 의 outlier :  Int64Index([93575, 93580], dtype='int64')
무악동 의 outlier :  Int64Index([93648], dtype='int64')
부암동 의 outlier :  Int64Index([93886], dtype='int64')
삼청동 의 outlier :  Int64Index([], dtype='int64')
숭인2동 의 outlier :  Int64Index([93725, 93739, 93740, 93742, 93743, 93793, 93794, 93795, 93798], dtype='int64')
숭인1동 의 outlier :  Int64Index([], dtype='int64')
종로5.6가동 의 outlier :  Int64Index([], dtype='int64')
종로1.2.3.4가동 의 outlier :  Int64Index([], dtype='int64')
창신2동 의 outlier :  Int64Index([94199, 94226, 94227, 94228, 94229, 94230], dtype='int64')
창신1동 의 outlier :  Int64Index([], dtype='int64')
창신3동 의 outlier :  Int64Index([94256], dtype='int64')
교남동 의 outlier :  Int64Index([94463, 94468, 94477, 94478, 94479, 94480, 94490], dtype='int64')
광희동 의 outlier :  Int64Index([], dtype='int64')
명동 의 outlier :  Int64Index([], dtype='int64')
중림동 의 outlier :  Int64Index([95293], dtype='int64')
신당동 의 outlier :  Int64Index([94575, 94576, 94577], dtype='int64')
장충동 의 outlier :  Int64Index([], dtype='int64')
청구동 의 outlier :  Int64Index([], dtype='int64')
약수동 의 outlier :  Int64Index([], dtype='int64')
다산동 의 outlier :  Int64Index([], dtype='int64')
동화동 의 outlier :  Int64Index([94950], dtype='int64')
신당5동 의 outlier :  Int64Index([], dtype='int64')
필동 의 outlier :  Int64Index([], dtype='int64')
황학동 의 outlier :  Int64Index([95333, 95348, 95349, 95350, 95395, 95400, 95401, 95403, 95440,
            95449, 95484],
           dtype='int64')
회현동 의 outlier :  Int64Index([], dtype='int64')
망우본동 의 outlier :  Int64Index([], dtype='int64')
망우3동 의 outlier :  Int64Index([95552, 95657, 95716], dtype='int64')
면목본동 의 outlier :  Int64Index([], dtype='int64')
면목7동 의 outlier :  Int64Index([], dtype='int64')
면목2동 의 outlier :  Int64Index([], dtype='int64')
면목4동 의 outlier :  Int64Index([95888], dtype='int64')
면목3.8동 의 outlier :  Int64Index([], dtype='int64')
면목5동 의 outlier :  Int64Index([96368], dtype='int64')
묵1동 의 outlier :  Int64Index([], dtype='int64')
묵2동 의 outlier :  Int64Index([97270, 97504], dtype='int64')
상봉2동 의 outlier :  Int64Index([97847, 97951, 97952, 97965, 98013, 98145, 98147, 98221], dtype='int64')
상봉1동 의 outlier :  Int64Index([97920, 97921, 97922, 97923, 97924, 97925, 97926, 97927, 97928,
            98183],
           dtype='int64')
신내1동 의 outlier :  Int64Index([98317, 98337, 98359, 98360, 98393, 98398], dtype='int64')
중화1동 의 outlier :  Int64Index([], dtype='int64')
중화2동 의 outlier :  Int64Index([], dtype='int64')
이상치의 개수 :  1688
1688